<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

  <div class="page-inner">
    <div class="col-lg-6">
      <br><br>
    </div>
    <div class="col-lg-6">
      <h1 class="display-1">403</h1>
      <h1 class="mb-4">웹 페이지를 볼 수 있는 권한이 없습니다.</h1>
      <a class="btn border-secondary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
    </div>
  </div>

</html>