<th:block xmlns:th="http://www.thymeleaf.org"
	th:fragment="HeaderFrag">
	
<style>
 .main-header {
    /* background-color: #1a2036; */
    /* background-color: #5bb5f9;  */
    background-color: #dde3f7;
    color:white;
}

</style>
<div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="index.html" class="logo">
                  <!-- src="/assets/img/kaiadmin/logo_light.svg" -->
                <img
                  src="/yerim/img/image-removebg-preview.png"
                  alt="navbar brand"
                  class="navbar-brand"
                  height="20"
                />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <th:block sec:authorize="isAuthenticated()">
	              <button class="topbar-toggler more" >
	                <i class="gg-more-vertical-alt"></i>
	              </button>
              </th:block>
            </div>
            <!-- End Logo Header -->
          </div>
          <!-- Navbar Header -->
          <nav sec:authorize="isAuthenticated()"
            class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
          >
            <div class="container-fluid">

              <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                <!-- 마이페이지 링크와 내정보 링크, 내정보 보여주기-->
                <li class="nav-item topbar-user dropdown hidden-caret">
                  <a
                    class="dropdown-toggle profile-pic"
                    data-bs-toggle="dropdown"
                    href="#"
                    aria-expanded="false"
                  >
                    <div class="avatar-sm">
                      <img
                        th:src="@{/upload/}+${#authentication.principal.empVO.imageLink}"
                        alt=""
                        class="avatar-img rounded-circle"
                      />
                    </div>
                    <span class="profile-username">
                      <span class="op-7">안녕하십니까</span>
                      <span class="fw-bold" th:text="${#authentication.principal.empVO.name}">이름</span>
                      <span class="op-7">님</span>
                    </span>
                  </a>
                  <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <div class="dropdown-user-scroll scrollbar-outer">
                      <li>
                        <div class="user-box">
                          <div class="avatar-lg">
                            <img
                              th:src="@{/upload/}+${#authentication.principal.empVO.imageLink}"
                              alt="image profile"
                              class="avatar-img rounded"
                            />
                          </div>
                          <div class="u-text">
                            <h4 th:text="${#authentication.principal.empVO.id}"></h4>
                            <button type="button" 
                              class="btn btn-success" 
                              id="attendanceBtn1"
                              th:if="${session.attendance.attendancesCode == 'j2'}">
                              출근
                            </button>
                            <button type="button" 
                              class="btn btn-danger fs-6" 
                              id="attendanceBtn2"
                              th:if="${session.attendance.attendancesCode == 'j1'}">
                              퇴근
                            </button>
                            <button type="button" 
                              class="btn btn-secondary fs-6" 
                              id="attendanceBtn3"
                              th:if="${session.attendance.attendancesCode == 'j1'}">
                              외출
                            </button>
                            <button type="button" 
                              class="btn btn-success fs-6" 
                              id="attendanceBtn4"
                              th:if="${session.attendance.attendancesCode == 'j3'}">
                              복귀
                            </button>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/employee/info/{id}(id=${#authentication.principal.empVO.id})}">내정보</a>
                        <a class="dropdown-item" th:href="@{/employee/modify/{id}(id=${#authentication.principal.empVO.id})}">내 정보 수정</a>
                      	<div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">로그아웃</a>
                      </li>
                    </div>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
          <!-- End Navbar -->
<script>
//== Class definition
var SweetAlert2Demo = (function () {
  //== Demos
  var initDemos = function () {
  
    // 출근버튼
    $("#attendanceBtn1").click(function (e) {
      attendanceEvent('j1','출근하시겠습니까?');
    });
    // 퇴근 버튼
    $("#attendanceBtn2").click(function (e) {
      attendanceEvent('j2','퇴근하시겠습니까?');
    });
    // 외출 버튼
    $("#attendanceBtn3").click(function (e) {
      attendanceEvent('j3','외출하시겠습니까?');
    });
    // 복귀 버튼
    $("#attendanceBtn4").click(function (e) {
      attendanceEvent('j1','복귀하시겠습니까?');
    });
    
  };

  return {
    //== Init
    init: function () {
      initDemos();
    },
  };
})();

function attendanceEvent(attendancesCode,title){
  swal({
    title: title,
    type: "warning",
    buttons: {
      confirm: {
        text: "예",
        className: "btn btn-success",
      },
      cancel: {
     	text: "아니요",
        visible: true,
        className: "btn btn-danger",
      },
    },
  }).then((buttonResult) => {
    if (buttonResult) {
      let obj = new Object();
      obj.attendancesCode = attendancesCode;
      $.ajax({
        url:'/attendance/modifyCode',
        type: 'post',
        data: JSON.stringify(obj),
        contentType : 'application/json',
        success: function(answer){
          if(answer == "success"){
            swal({
              title: "요청이 처리되었습니다.",
              type: "success",
              buttons: {
                confirm: {
                  text: "예",
                  className: "btn btn-success",
                },
              },
            }).then(function(){
				location.reload();
			});
          }
          else if("error1"){
            swal({
              title: "IP 인식에 오류가 발생하였습니다.",
              type: "error",
              buttons: {
                confirm: {
                  text: "예",
                  className: "btn btn-success",
                },
              },
            });              	
          }
          else{
            swal({
              title: "서버 오류가 발생하였습니다.",
              type: "error",
              buttons: {
                confirm: {
                  text: "예",
                  className: "btn btn-success",
                },
              },
            });
          }
        },
        error: function (error) {
          swal({
              title: "요청이 실패하였습니다.",
              type: "error",
              buttons: {
                confirm: {
                  text: "예",
                  className: "btn btn-success",
                },
              },
          });
        }
      })
      
    } else {
      swal.close();
    }
  });
}
//== Class Initialization
jQuery(document).ready(function () {
  SweetAlert2Demo.init();
});
</script>
</th:block>
