<th:block xmlns:th="http://www.thymeleaf.org"
	th:fragment="SidebarFrag">
 		<div class="sidebar" data-background-color="dark">
        <div class="sidebar-logo">
          <!-- Logo Header -->
          <div class="logo-header" data-background-color="dark">
            <a href="/main?boardsNo=1" class="logo" style="color:white;">
              <img
                  src="/yerim/img/image-removebg-preview (8).png"
                  alt="navbar brand"
                  class="navbar-brand"
                  height="20"
                  style="width:40px; height:40px;"
                />　ThisHouseWare
            </a>
            <div class="nav-toggle">
              <button class="btn btn-toggle toggle-sidebar">
                <i class="gg-menu-right"></i>
              </button>
              <button class="btn btn-toggle sidenav-toggler">
                <i class="gg-menu-left"></i>
              </button>
            </div>
            <th:block sec:authorize="isAuthenticated()">
            <button class="topbar-toggler more">
              <i class="gg-more-vertical-alt"></i>
            </button>
            </th:block>
          </div>
          <!-- End Logo Header -->
        </div>
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
          <div class="sidebar-content">
          
            <ul class="nav nav-secondary">
            
              <!-- <li class="nav-item active">
                <a
                  data-bs-toggle="collapse"
                  href="/logout"
                  class="collapsed"
                  aria-expanded="false"
                >
                  <i class="fas fa-home"></i>
                  <p>HOME</p>
                  <span class="caret"></span>
                </a>
                <div class="collapse" id="dashboard">
                  <ul class="nav nav-collapse">
                     <li>
                      <a href="/logout">
                        <span class="sub-item">로그아웃</span>
                      </a>
                    </li>
                    
                  </ul>
                </div>
              </li> -->
              

              <li class="nav-section">
                <span class="sidebar-mini-icon">
                  <i class="fa fa-ellipsis-h"></i>
                </span>
                <h4 class="text-section">ThisHouseWare</h4>
              </li>


<!-- 문서함 -->
<li class="nav-item" sec:authorize="isAuthenticated()">
  <a data-bs-toggle="collapse" href="#submenu-documents">
    <i class="far fa-folder"></i>
    <p>문서함</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="submenu-documents">
    <ul class="nav nav-collapse">
      <!-- 개인문서함 -->
      <li>
        <a data-bs-toggle="collapse" href="#subnav-personal">
          <span class="sub-item">개인문서함</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav-personal">
          <ul class="nav nav-collapse subnav">
            <li>
              <a th:href="@{/docBox/docApprovalStatusList(approvalStatus=임시저장)}">
                <span class="sub-item">임시저장</span>
              </a>
            </li>
            <li>
              <a th:href="@{/docBox/docApprovalStatusList(approvalStatus=결재대기)}">
                <span class="sub-item">결재대기</span>
              </a>
            </li>
            <li>
              <a th:href="@{/docBox/docApprovalStatusList(approvalStatus=결재수신)}">
                <span class="sub-item">결재수신</span>
              </a>
            </li>
            <li>
              <a th:href="@{/docBox/docApprovalStatusList(approvalStatus=결재완료)}">
                <span class="sub-item">결재완료</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <!-- 부서문서함 -->
       <li>
        <a data-bs-toggle="collapse" href="#subnav-department">
          <span class="sub-item">부서문서함</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav-department">
          <ul class="nav nav-collapse subnav">
            <li>
              <a th:href="@{/docBox/docDeptList}">
                <span class="sub-item">전체문서</span>
              </a>
            </li>
            <li>
              <a th:href="@{/docBox/docDeptStatusList(approvalStatus='결재완료')}">
                <span class="sub-item">결재완료</span>
              </a>
            </li>
            <li>
              <a th:href="@{/docBox/docDeptImportantList(important='true')}">
                <span class="sub-item">중요문서</span>
              </a>
            </li>
          </ul>
        </div>
      </li> 
      
      
      
      
      
      
      
      
      
      <!-- 문서함설정 -->
      <!-- <li>
        <a data-bs-toggle="collapse" href="#subnav-settings">
          <span class="sub-item">문서함설정</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav-settings">
          <ul class="nav nav-collapse subnav">
            <li>
              <a href="/reply/replyList">
                <span class="sub-item">공유폴더</span>
              </a>
            </li>
            <li>
              <a href="/reply/replyList">
                <span class="sub-item">접근권한</span>
              </a>
            </li>
          </ul>
        </div>
      </li> -->
    </ul>
  </div>
</li>

<!-- 전자결재 -->
<li class="nav-item" sec:authorize="isAuthenticated()">
  <a data-bs-toggle="collapse" href="#submenu-approval">
    <i class="fas fa-calculator"></i>
    <p>전자결재</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="submenu-approval">
    <ul class="nav nav-collapse">
          <!-- 결재문서 -->
      <!-- <li>
        <a data-bs-toggle="collapse" href="#subnav-documents">
          <span class="sub-item">결재문서</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav-documents">
          <ul class="nav nav-collapse subnav">
            <li>
              <a href="/reply/replyList">
                <span class="sub-item">결재문서등록</span>
              </a>
            </li>
          </ul>
        </div>
      </li> --> 
      <!--결재문서 등록-->
      <li>
        <a th:href="@{/edms/edmsInsert}">
          <span class="sub-item">문서등록</span>
        </a>
      </li>
      <!-- 결재양식 -->
      <li>
        <a th:href="@{/edms/edmsFormList}">
          <span class="sub-item">결재양식</span>
        </a>
      </li>
      <!-- <li>
        <a th:href="@{/edms/edmsDocList}">
          <span class="sub-item">결재문서</span>
        </a>
      </li> -->
      <!-- 결재라인 -->
      <li>
        <a th:href="@{/appr/apprLineList}">
          <span class="sub-item">결재라인</span>
        </a>
      </li>
      <!-- <li>
        <a data-bs-toggle="collapse" href="#subnav-line">
          <span class="sub-item">결재라인</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav-line">
          <ul class="nav nav-collapse subnav">
            <li>
              <a href="/reply/replyList">
                <span class="sub-item">결재라인설정</span>
              </a>
            </li>
            <li>
              <a href="/reply/replyList">
                <span class="sub-item">즐겨찾기등록</span>
              </a>
            </li>
          </ul>
        </div>
      </li> -->
      
      <!-- <li>
        <a data-bs-toggle="collapse" href="#subnav-form">
          <span class="sub-item">결재양식</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav-form">
          <ul class="nav nav-collapse subnav">
            <li>
              <a href="/appr/apprLineList">
                <span class="sub-item">결재라인</span>
              </a>
            </li>
            <li>
              <a th:href="@{/appr/apprLineList}">
                <span class="sub-item">결재라인등록</span>
              </a>
            </li>
            <li>
              <a href="/appr/apprFavoriteList">
                <span class="sub-item">즐겨찾기등록</span>
              </a>
            </li>
          </ul>
        </div>
      </li> -->

    </ul>
  </div>
</li>



<!-- 게시판 -->
<li class="nav-item" sec:authorize="isAuthenticated()">
  <a data-bs-toggle="collapse" href="#submenu1">
    <i class="far fa-file-alt"></i>
    <p>게시판</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="submenu1">
    <ul class="nav nav-collapse">
    
      <li>
        <a href="/board/boardMainPage">
          <span class="sub-item">게시판</span>
        </a>
      </li>
      <li>
        <a href="/board/postInsert">
          <span class="sub-item">글쓰기</span>
        </a>
      </li>
    </ul>
  </div>
</li>


<!-- 자료실 -->
<li class="nav-item" sec:authorize="isAuthenticated()">
  <a data-bs-toggle="collapse" href="#submenu6">
    <i class="fas fa-box-open"></i>
    <p>자료실</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="submenu6">
    <ul class="nav nav-collapse">
      <li>
        <a href="/file/fileMainPage">
          <span class="sub-item">자료실</span>
        </a>
      </li>
      <li>
        <a href="/file/fileInsert">
          <span class="sub-item">파일업로드</span>
        </a>
      </li>
    </ul>
  </div>
</li>

<!-- 일정관리 -->
<li class="nav-item" sec:authorize="isAuthenticated()">
  <a data-bs-toggle="collapse" href="#submenu2">
    <i class="fas fa-calendar-check"></i>
    <p>일정관리</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="submenu2">
    <ul class="nav nav-collapse">
      <li>
        <a href="/schedule/scheduleList">
                <span class="sub-item">일정</span>
        </a>
        <div class="collapse" id="subnav2-1"></div>
      </li>
      <li>
    <li sec:authorize="isAuthenticated()">
        <a data-bs-toggle="collapse" href="#subnav2-1">
          <span class="sub-item">근태</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav2-1">
          <ul class="nav nav-collapse subnav">
            <li>
              <a href="/attendance/emps">
                <span class="sub-item">근태리스트</span>
              </a>
            </li>
            <li>
              <a th:href="@{/attendance/empPage(id=${#authentication.principal.empVO.id})}">
                <span class="sub-item">개인근태기록</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/schedule/leaveList">
          <span class="sub-item">휴가</span>
        </a>
        <div class="collapse" id="subnav2-3"></div>
      </li>
    </ul>
  </div>
</li>



<!-- 고객관리/문의사항 -->
<li class="nav-item">
  <a data-bs-toggle="collapse" href="#submenu3">
    <i class="fas fa-question"></i>
    <p>고객관리/문의사항</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="submenu3">
    <ul class="nav nav-collapse">
      <li>
        <a href="/complain/complainList">
                <span class="sub-item">문의목록/등록</span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()">
        <a data-bs-toggle="collapse" href="#subnav3-2">
          <span class="sub-item">문의진행상황</span>
          <span class="caret"></span>
        </a>
        <div class="collapse" id="subnav3-2">
          <ul class="nav nav-collapse subnav">
            <li>
              <a href="/reply/replyList">
                <span class="sub-item">대기/접수/진행</span>
              </a>
            </li>
            <li>
              <a href="/result/resultList">
                <span class="sub-item">상황완료/보고완료</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</li>



<li class="nav-item" sec:authorize="hasAnyAuthority('a1','a2')">
<!-- 관리자 -->
<li class="nav-item" sec:authorize="hasAnyAuthority('a1','a2')">
  <a data-bs-toggle="collapse" href="#submenu4">
    <i class="fas fa-user-check"></i>
    <p>관리자</p>
    <span class="caret"></span>
  </a>
  <div class="collapse" id="submenu4">
    <ul class="nav nav-collapse">
      <li>
        <a href="/manager/addEmp">
                <span class="sub-item">직원추가</span>
              </a>
        <div class="collapse" id="subnav4-1"></div>
      </li>
      <li>
        <a href="/manager/emps">
                <span class="sub-item">직원리스트</span>
              </a>
        <div class="collapse" id="subnav4-2"></div>
      </li>
      <li>
        <a href="/company/companyList">
               <span class="sub-item">회사목록/등록</span>
        </a>
        <div class="collapse" id="subnav4-3"></div>
      </li>
      <!-- <li>
        <a href="/schedule/adminCheckOthersScheduleList">
               <span class="sub-item">직원일정확인</span>
        </a>
        <div class="collapse" id="subnav4-4"></div>
      </li> -->
    </ul>
  </div>
</li>
            </ul>
          </div>
        </div>
      </div>
</th:block>

 <!--   Core JS Files   -->
    <script src="assets/js/core/jquery-3.7.1.min.js"></script>
    <script src="assets/js/core/popper.min.js"></script>
    <script src="assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Chart JS -->
    <script src="assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="assets/js/plugin/jsvectormap/world.js"></script>

    <!-- Sweet Alert -->
    <script src="assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Kaiadmin JS -->
    <script src="assets/js/kaiadmin.min.js"></script>

    <!-- Kaiadmin DEMO methods, don't include it in your project! -->
    <script src="assets/js/setting-demo.js"></script>
    <script src="assets/js/demo.js"></script>
    <script>
      $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#177dff",
        fillColor: "rgba(23, 125, 255, 0.14)",
      });

      $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#f3545d",
        fillColor: "rgba(243, 84, 93, .14)",
      });

      $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
        type: "line",
        height: "70",
        width: "100%",
        lineWidth: "2",
        lineColor: "#ffa534",
        fillColor: "rgba(255, 165, 52, .14)",
      });
    </script>