<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<style>
.card-title {
	margin-bottom: 15px;
}

.folder-list, .file-list {
	list-style-type: none;
	padding-left: 0;
}
</style>
</head>
<body>
	<div class="container">
		<div class="page-inner">
			<div class="page-header">
				<h3 class="fw-bold mb-3">자료실</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home"><a href=""> <i class="icon-home"></i>
					</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
					<li class="nav-item"><a href="/file/fileMainPage">자료실</a></li>
				</ul>
			</div>
			<div class="page-inner">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">
									자료실 <a href="/file/fileInsert" class="float-end"><button
											class="btn btn-primary">파일 업로드</button></a>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="row text-center">
								<div class="board-container">
									<div class="row">
										<!-- 자료실 목록 출력 -->
										<div th:each="fileRoom : ${fileRooms}" class="col-md-6 mb-4">
											<div class="card">
												<div class="fileroom-header">
													<span th:text="${fileRoom.fileRoomsNo}"
														style="display: none;"></span>
													<h4 th:text="${fileRoom.fileRoomsName}" class="card-title"></h4>
												</div>
												<ul class="folder-list">
													<li th:each="folder : ${fileRoom.folders}"
														class="folder-item"><span
														th:text="${folder.folderNo}" style="display: none;"></span>
														<strong>폴더</strong> <span th:text="${folder.folderName}"
														style="display: inline-block; width: 200px; text-align: left;"></span>
													</li>
												</ul>
												<ul class="file-list" th:if="${files != null}">
													<li th:each="file : ${files}" class="file-item"><span
														th:text="${file.fileNo}" style="display: none;"></span> <strong>파일</strong>
														<span th:text="${file.fileName}"
														style="display: inline-block; width: 200px; text-align: left;"></span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /자료실 목록 -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">
		$(document).ready(function() {
			// 파일 클릭 시 파일 다운로드
			$('.file-item').on('click', function(event) {
				let fileNo = $(this).find("span").first().text();
				console.log("File No:", fileNo);
				let url = '/file/fileInfo?fileNo=' + fileNo;
				location.href = url;
			});

			// 자료실 클릭 시 해당 자료실 이동
			$('.fileroom-header').on('click', function(event) {
				let fileRoomsNo = $(this).find("span").first().text();
				console.log("File Rooms No:", fileRoomsNo);
				let url = '/file/folderFileList?fileRoomsNo=' + fileRoomsNo;
				location.href = url;
			});
		});
	</script>
</body>
</html>
