<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.contractor.app.fileroom.mapper.FileRoomMapper">
	<!-- 자료실 전체조회 -->
	<select id="selectFilerooms" resultType="FileRoomsVO">
		SELECT FILE_ROOMS_NO
		,FIND_COMMON_CODE_NAME(FILE_ROOMS_TYPE) as FILE_ROOMS_TYPE
		,FILE_ROOMS_NAME
		,CAPACITY
		,AUTHORITY
		,ID
		,USED_CAPACITY
		FROM file_rooms
		ORDER BY FILE_ROOMS_NO
	</select>

	<!-- 자료실 단건조회 -->
	<select id="selectFileroom" parameterType="FileRoomsVO"
		resultType="FileRoomsVO">
		SELECT FILE_ROOMS_NO
		,FIND_COMMON_CODE_NAME(FILE_ROOMS_TYPE) as FILE_ROOMS_TYPE
		,FILE_ROOMS_NAME
		,CAPACITY
		,AUTHORITY
		,ID
		,USED_CAPACITY
		FROM file_rooms
		WHERE FILE_ROOMS_NO = #{fileRoomsNo}
	</select>

	<!-- 자료실별 폴더 전체조회 -->
	<select id="selectFolders" parameterType="FolderVO"
		resultType="FolderVO">
		SELECT FOLDER_NO
		,FOLDER_NAME
		,FOLDER_SIZE
		,AUTHORITY
		,FILE_ROOMS_NO
		,FIND_COMMON_CODE_NAME(SHARE_CHK) as SHARE_CHK
		,FOLDER_PATH
		,ID
		FROM folder
		WHERE FILE_ROOMS_NO = #{fileRoomsNo}
		ORDER BY FOLDER_NO
	</select>

	<!-- 자료실별 폴더, 파일 전체조회 -->
	<select id="selectFolderFile" resultType="FolderFileVO">
		SELECT *
		FROM (
		SELECT
		ROWNUM RN, A.*
		FROM (
		SELECT
		fd.FOLDER_NO,
		fd.FOLDER_NAME,
		fd.FOLDER_SIZE,
		fd.AUTHORITY,
		fd.FILE_ROOMS_NO AS
		FOLDER_FILE_ROOMS_NO,
		fd.SHARE_CHK,
		fd.FOLDER_PATH,
		fd.ID AS FOLDER_ID,
		f.FILE_NO,
		f.FILE_NAME,
		f.EXTENSION,
		f.PATH AS FILE_PATH,
		f.FILE_SIZE,
		f.UPLOAD_DT,
		f.ID AS FILE_ID,
		f.FOLDER_NO AS FILE_FOLDER_NO,
		f.FILE_ROOMS_NO AS FILE_FILE_ROOMS_NO
		FROM
		folder fd LEFT JOIN files f
		ON fd.FOLDER_NO = f.FOLDER_NO
		WHERE
		fd.FILE_ROOMS_NO =
		#{folderFileVO.fileRoomsNo}
		<!-- 검색어 있을 때 조건 추가 -->
		<if
			test="pagingVO.searchWord != null and pagingVO.searchWord != ''">
			AND ((fd.FOLDER_NAME '%' || #{pagingVO.searchWord} || '%')
			OR
			(f.FILE_NAME LIKE '%' || #{pagingVO.searchWord} || '%'))
		</if>
		ORDER BY fd.FOLDER_NO, f.UPLOAD_DT DESC
		) A
		)
		WHERE RN BETWEEN
		#{pagingVO.start}
		AND #{pagingVO.end}
	</select>

	<!-- 폴더/파일 총 갯수 출력 -->
	<select id="countFolderFile" resultType="int">
		SELECT
		(SELECT COUNT(*)
		FROM folder
		fd WHERE fd.FILE_ROOMS_NO =
		#{folderFileVO.fileRoomsNo}) +
		(SELECT
		COUNT(*) FROM files f WHERE f.FILE_ROOMS_NO =
		#{folderFileVO.fileRoomsNo}) AS total_count
		FROM dual
	</select>

	<!-- 파일 업로드 -->
	<insert id="insertFile" parameterType="FilesVO">
		<selectKey keyProperty="fileNo" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(FILE_NO), 1) + 1
			FROM files
		</selectKey>
		INSERT INTO files
		( FILE_NO
		,FILE_NAME
		,EXTENSION
		,PATH
		,FILE_SIZE
		,UPLOAD_DT
		,ID
		,FOLDER_NO
		,FILE_ROOMS_NO
		)
		VALUES
		( #{fileNo}
		,#{fileName}
		,#{extension}
		,#{path}
		,#{fileSize}
		,SYSDATE
		,#{id}
		,#{folderNo}
		,#{fileRoomsNo}
		)
	</insert>

</mapper>