<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
  <input type="hidden" id="id" th:value="${employee.id}" placeholder="연락처">
  <div class="page-inner">
		<div class="page-header">
      <h3 class="fw-bold mb-3">내정보 수정</h3>
      <ul class="breadcrumbs mb-3">
        <li class="nav-home"><a href="/main?boardsNo=1"> <i class="icon-home"></i>
        </a></li>
        <li class="separator"><i class="icon-arrow-right"></i></li>
        <li class="nav-item"><a href="#">내정보 수정</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="card" id="modifyEmployeeForm">
          
          <div class="card-header">
            <div class="card-title">내정보 수정</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">                 
                <div class="form-group">
                  <label for="phone" class="col-md-3 col-form-label">연락처 변경</label>
                  <input type="text" class="form-control input-full" 
                  id="phone" maxlength="13"
                  placeholder="'-'없이 숫자만 입력."
                  oninput = "autoHyphen(this); newPhoneCheck();">
                </div>  
                <div class="form-group">
                  <label for="newPassword" class="col-md-3 col-form-label">비밀번호 변경</label>
                  <input type="password" class="form-control input-full" id="newPassword" placeholder="새 비밀번호" oninput="newPasswordCheck()">
                </div>  
                <div class="form-group">
                  <label for="newPassword" class="col-md-3 col-form-label">비밀번호 변경 확인</label>
                  <input type="password" class="form-control input-full" id="checkNewPassword" placeholder="새 비밀번호 확인" oninput="newPasswordCheck()">
                </div>  
                <div class="form-group">
                  <label for="password" class="col-md-3 col-form-label">비밀번호 확인</label>
                  <input type="password" class="form-control input-full" id="checkPassword" placeholder="필수 입력">
                </div>  
              </div>
            </div>
          </div>
          <div class="card-action">
            <button type="button" id="modifyEmployee" class="btn btn-success" disabled>수정하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<script>
// 전화번호 자동  하이폰 삽입			
const autoHyphen = (target) => {
	target.value = target.value
			.replace(/[^0-9]/g, '')
			.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/g, "$1-$2-$3")
			.replace(/(\-{1,2})$/g, "");
}
let id = document.querySelector("#id");
let phoneInput = document.querySelector("#phone");
let newPasswordInput = document.querySelector("#newPassword");
let checkNewPasswordInput = document.querySelector("#checkNewPassword");
let checkPasswordInput = document.querySelector("#checkPassword");

function valueCheck(){
    // 인풋테그의 내용이 모두 1글자 이상일경우 허가한다.
    if(
			$('#phone').hasClass('is-invalid') === false 
			&& $('#newPassword').hasClass('is-invalid')  === false
			&& $('#checkNewPassword').hasClass('is-invalid') === false
    ){
			$('#modifyEmployee').attr("disabled", false);
    }else{
			$('#modifyEmployee').attr("disabled", true);
    }
}
function newPasswordCheck(){
  if(newPasswordInput.value.length < 1 && checkNewPasswordInput.value.length < 1){
    $('#newPassword').removeClass("is-valid");
    $('#checkNewPassword').removeClass("is-valid");
    $('#newPassword').removeClass("is-invalid");
    $('#checkNewPassword').removeClass("is-invalid");
  }else if(newPasswordInput.value.length < 4 && checkNewPasswordInput.value.length < 4){
    $('#newPassword').removeClass("is-valid");
    $('#checkNewPassword').removeClass("is-valid");
    $('#newPassword').addClass("is-invalid");
    $('#checkNewPassword').addClass("is-invalid");
  }else{
    if(newPasswordInput.value == checkNewPasswordInput.value)
    {
      $('#newPassword').addClass("is-valid");
      $('#checkNewPassword').addClass("is-valid");
      $('#newPassword').removeClass("is-invalid");
      $('#checkNewPassword').removeClass("is-invalid");
    }else{
      $('#newPassword').addClass("is-invalid");
      $('#checkNewPassword').addClass("is-invalid");
      $('#newPassword').removeClass("is-valid");
      $('#checkNewPassword').removeClass("is-valid");
    }	
  }
  valueCheck();
}
function newPhoneCheck(){
  if(phoneInput.value.length < 1){
    $('#phone').removeClass("is-invalid");
    $('#phone').removeClass("is-valid");
  }else if(phoneInput.value.length >= 13){
    $('#phone').addClass("is-valid");
    $('#phone').removeClass("is-invalid");
  }else{
    $('#phone').addClass("is-invalid");
    $('#phone').removeClass("is-valid");
  }
  valueCheck();
}

// 회원 정보 수정하기
$('#modifyEmployee').on('click', function(event){
	
	let formData = new FormData();
	formData.append('id', id);
	formData.append('phone', phoneInput.value);
	formData.append('newPassword', newPasswordInput.value);
	formData.append('checkNewPassword', checkNewPasswordInput.value);
	formData.append('checkPassword', checkPasswordInput.value);
	
	// $.Ajax 방식 
	$.ajax('/employee/modify/'+id.value,{
		type : 'post',
	    enctype: 'multipart/form-data',
	    processData: false,
	    contentType: false,
	    // dataType : // 받는 값은 기본값으로 할 것이다.
	    data : formData
	})
	.done(result => {
		console.log(result);
		if(result == 'error1'){
			alert("본인확인 비밀번호가 틀립니다.");
		}else if(result == 'error2'){
			alert("변경되는 정보가 없습니다.");
		}else if(result == 'error3'){
			alert("서버오류가 발생하였습니다.");
		}else{
			alert("회원 정보 수정이 성공하셧습니다.");
			location.href = "/employee/info/"+ id.value;
		}
	})
	.fail(err => console.log(err));
	});
</script>