<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/login_layout}"
	layout:fragment="Content">
<div class="page-inner">
	<div class="card">
		<div class="card-body">
			<!-- Logo -->
			<!-- /Logo -->
			<h4 class="mb-2">이집웨어</h4>
	
			<form class="form-signin" method="post" action="/login">
		        <h2 class="form-signin-heading">Please sign in</h2>
		        <p>
		          <label for="username" class="sr-only">Username</label>
		          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
		        </p>
		        <p>
		          <label for="password" class="sr-only">Password</label>
		          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
		        </p>
		        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	      	</form>
	
			<a href="#">
				<span>아이디 찾기</span>
			</a>/
			<a href="#">
				<span>비밀번호 찾기</span>
			</a>
			</p>
		</div>
	</div>
</div>