<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

<!-- DataTable 스타일 시트 및 스크립트 -->
<link
	href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.css"
	rel="stylesheet">
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>

<style>
tbody .btn {
	height: 30px;
	width: 30px;
	padding: 0px;
}

thead{
	background-color: #1b3a6e !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

#example tbody tr:hover {
	background-color: #ddd;
}

#example tbody th, #example tbody td {
	padding: 8px;
}
#dt-search-0{
	float:right;
	margin-bottom:30px;
	width: 300px;
}
#dt-search-0 {
    float: right;
    margin-bottom: 30px;
    width: 300px;
}

#dt-search-0::placeholder {
    color: #888;  /* placeholder 텍스트 색상 */
    font-style: italic;  /* placeholder 텍스트 스타일 */
}

.dt-paging{
	float:right;
}
th.sorting:after,
th.sorting:before,
th.sorting_asc:after,
th.sorting_asc:before,
th.sorting_desc:after, 
th.sorting_desc:before {
    display: none !important;
}

</style>


<body>
	<div class="page-inner">
		<div class="page-header">
			<h3 class="fw-bold mb-3">거래처</h3>
			<ul class="breadcrumbs mb-3">
				<li class="nav-home"><a href="#"> <i class="icon-home"></i>
				</a></li>
				<li class="separator"><i class="icon-arrow-right"></i></li>
				<li class="nav-item"><a href="#">거래처목록</a></li>
				<li class="separator"><i class="icon-arrow-right"></i></li>
				<li class="nav-item"><a href="#">회사목록 및 등록</a></li>
			</ul>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title"
							style="display: flex; justify-content: space-between; align-items: center;">
							<span>회사목록</span>

							<form name="insertForm" th:action="@{/company/companyList}"
								method="post" style="display: inline-flex; align-items: center;">
								<input type="text" style="width: 300px;" name="companyName"
									aria-label="회사명" aria-describedby="basic-addon1"
									class="form-control" placeholder="등록할 회사명을 입력하세요.">
								<button class="btn btn-success" type="submit"
									style="margin-left: 10px; width: 60px; height: 40px;">
									<i class="fas fa-user-check"></i>
								</button>
							</form>

						</div>
						<br/>
								<div th:if="${message}" style="color: red; font-size: 12px; float:right;"
									th:text="${message}" />
					</div>
									
					<div class="card-body">
						<table class="display" id="example" style="width: 80%;">
							<thead>
								<tr>
									<th class="col-md-2" style="text-align: center;">회사번호</th>
									<th class="col-md-6" style="text-align: center;">회사명</th>
									<th class="col-md-1" style="text-align: center;"></th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="info : ${companys}">
									<tr>
										<td style="text-align: center;">[[${info.companyNo}]]</td>
										<td style="text-align: center;">[[${info.companyName}]]</td>
										<td style="text-align: center;">
											<button type="button" class="btn btn-danger alert_demo_7"
												data-toggle="modal" data-target="#exampleModal"
												th:value="info.companyNo">
												<i class="icon-trash"></i>
											</button>
										</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 삭제 확인 Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">게시물을 정말 삭제하시겠습니까?</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">삭제하기</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">취소하기</button>
				</div>
			</div>
		</div>
	</div>

	<script>
	// 삭제모달 처리
	var SweetAlert2Demo = (function () {
		var initDemos = function () {
			$(".alert_demo_7").click(function (e) {
				event.stopPropagation();
				let companyNo = $(e.currentTarget).closest('tr').children().first().text();
				swal({
					title: "회사정보 삭제",
					text: "해당 회사를 삭제하시겠습니까?",
					type: "warning",
					buttons: {
						confirm: {
							text: "삭제",
							className: "btn btn-danger",
						},
						cancel: {
							text: "취소",
							className: "btn btn-black",
						},
					},
				}).then((Delete) => {
					if (Delete) {
						$.ajax({
							url: `/company/companyDelete?companyNo=${companyNo}`, 
							type: 'DELETE',
							success: function (response) {
								swal({
									title: "삭제완료!",
									text: "해당 회사가 목록에서 삭제되었습니다.",
									icon: "success",
									buttons: {
										confirm: {
											text: "확인",
											className: "btn btn-success",
										},
									},
								}).then(() => {
									location.reload();
								});
							},
							error: function (error) {
								swal({
									title: "오류!",
									text: "회사정보를 삭제하려면 해당 회사의 문의사항을 모두 삭제해주세요.",
									icon: "error",
									buttons: {
										confirm: {
											text: "확인",
											className: "btn btn-danger",
										},
									},
								});
							}
						});
					} else {
						swal.close();
					}
				});
			});
		};
		return {
			init: function () {
				initDemos();
			},
		};
	})();
	
	// Document Ready
	jQuery(document).ready(function () {
		SweetAlert2Demo.init();
	});

	// DataTable 설정
	$('#example').DataTable({
			info: false,
			language: {
				search: "",  // 검색 텍스트를 빈 문자열로 설정
			},
			dom: '<"top"f>rt<"bottom"p><"clear">',  // 검색창(f)을 상단에 표시
			pageLength: 10,  // 페이지당 항목 수를 10으로 고정
			lengthChange: false,  // 항목 수 변경을 비활성화
		});
	
	document.getElementById('dt-search-0').placeholder = '검색할 키워드를 입력하세요.';

	</script>

</body>
</html>
