<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
	


<body>

<div class="container">
		<div class="page-inner">
			<div class="page-header">
				<h3 class="fw-bold mb-3">거래처</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home"><a href="#"> <i class="icon-home"></i>
					</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
					<li class="nav-item"><a href="#">거래처목록</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
					<li class="nav-item"><a href="#">회사목록</a></li>
				</ul>
			</div>


	<div class="page-inner">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">

						<div class="card-title">
							회사목록 <a href="/insertCompany" class="float-end"><button class="btn btn-primary">회사등록</button></a>
						</div>

						<div class="card-title">회사리스트</div>
						<div class="card-title">회사/고객리스트</div>

					</div>
					<div class="card-body">
						<div class="row">
						
							<div class="text-center">
								<table class="table">
									<thead>
										<tr>
											<th class="col-md-3">회사번호</th>
											<th class="col-md-6">회사명</th>
											<th class="col-md-3"></th>
											<!-- yyyy년MM월dd일 -->
										</tr>
									</thead>
									<tbody>
										<th:block th:each="info : ${companys}">
											<!-- 조건, 반복문 있을 때 구분하기 위해 th:block -->
											<tr>
												<!-- 여기 onclick 넣어도 됨. -->
												<td>[[${info.companyNo}]]</td>
												<td>[[${info.companyName}]]</td>
												<td>
													<button type="button" class="btn btn-danger alert_demo_7"
																data-toggle="modal" data-target="#exampleModal" th:value="info.companyNo">
																<i class="icon-trash"></i>
													</button>
												</td>
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">게시물 삭제</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        게시물을 정말 삭제하시겠습니까?
	      </div>
	      <div class="modal-footer">
	      	<button type="button" class="btn btn-primary">삭제하기</button>
	       	<button type="button" class="btn btn-secondary" data-dismiss="modal">취소하기</button>
	      </div>
	    </div>
	  </div>
	</div>
	</div>
	</div>
	
	<script>
	// 삭제모달
	 //== Class definition
         var SweetAlert2Demo = (function () {
           //== Demos
           var initDemos = function () {
             $(".alert_demo_7").click(function (e) {
           	  event.stopPropagation();
           	  let companyNo = $(e.currentTarget).closest('tr').children().first().text();
               swal({
                 title: "회사정보 삭제",
                 text: "해당 회사를 삭제하시겠습니까?",
                 type: "warning",
                 buttons: {
                   confirm: {
                     text: "삭제",
                     className: "btn btn-danger",
                   },
                   cancel: {
                   	text: "취소",
                     visible: true,
                     className: "btn btn-black",
                   },
                 },
               }).then((Delete) => {
                 if (Delete) {
               	  
               	  $.ajax({
                         url: `/companyDelete?companyNo=${companyNo}`, 
                         type: 'DELETE',
                         success: function (response) {
                             swal({
                                 title: "삭제완료!",
                                 text: "해당 회사가 목록에서 삭제되었습니다.",
                                 icon: "success",
                                 buttons: {
                                     confirm: {
                                         text: "확인",
                                         className: "btn btn-success",
                                     },
                                 },
                             }).then(() => {
                                 location.reload();
                             });
                         },
                         error: function (error) {
								swal(
										 {
									title: "오류!",
									text: "삭제 중 오류가 발생했습니다. 다시 시도해 주세요.",
									icon: "error",
									buttons: {
										confirm: {
											text: "확인",
											className: "btn btn-danger",
										},
									},
								} 
										).then(() => {
									//location.reload();
								});
							}  
                     });
                 } else {
                     swal.close();
                 }
             });
         });
   
           };
   
           return {
             //== Init
             init: function () {
               initDemos();
             },
           };
         })();
   
         //== Class Initialization
         jQuery(document).ready(function () {
           SweetAlert2Demo.init();
         });

	
		// 제이쿼리 객체 생성(tr 클릭하면 단건정보 조회)
		$('tbody > tr').on('click', function(event) {
			let trTag = event.currentTarget;
			let companyNo = $(trTag).children().first().text();
			let url = `/companyInfo?companyNo=${companyNo}`;
			location.href = url;
		});
		
		
		
	</script>
</body>
</html>