<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.edms.mapper.EdmsMapper">

    <!-- 전체조회 -->
    <select id="selectDocAllList" resultType="EdmsDocVO">
        SELECT 
              edms_doc_no
            , id
            , title
            , content
            , file_name
            , submit_dt
            , approval_dt
            , approval_status
            , edms_form_no
            , share_status
            , share_folder_no
        FROM edms_doc
        <where>
            <if test="edmsDocNo != null and edmsDocNo != ''">
                edms_doc_no = #{edmsDocNo}
            </if>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="edmsFormNo != null and edmsFormNo != ''">
                AND edms_form_no = #{edmsFormNo}
            </if>
            <if test="shareStatus != null and shareStatus != ''">
                AND share_status = #{shareStatus}
            </if>
            <if test="shareFolderNo != null and shareFolderNo != ''">
                AND share_folder_no = #{shareFolderNo}
            </if>
        </where>
        ORDER BY submit_dt
    </select>

    <!-- 단건조회 -->
    <select id="selectEdmsDocInfo" parameterType="String" resultType="EdmsDocVO">
        SELECT 
              edms_doc_no
            , id
            , title
            , content
            , file_name
            , attatch
            , submit_dt
            , approval_dt
            , approval_status
            , edms_form_no
            , share_status
            , share_folder_no
            , reject_reason
        FROM edms_doc
        WHERE edms_doc_no = #{edmsDocNo}
    </select>

    <!-- 결재문서 등록 -->
    <insert id="insertEdmsInfo" parameterType="EdmsDocVO">
        <selectKey keyProperty="edmsDocNo" resultType="String" order="BEFORE">
            SELECT NVL(MAX(edms_doc_no), 0) + 1 FROM edms_doc
        </selectKey>
        INSERT INTO edms_doc (
              edms_doc_no
            , id
            , title
            , content
            , file_name
            , attatch
            , submit_dt
            , approval_status
            , edms_form_no
            , share_status
            , share_folder_no
        )
        VALUES (
              #{edmsDocNo}
            , #{id}
            , #{title}
            , #{content}
            , #{fileName}
            , #{attatch}
            , SYSDATE
            , <choose>
                    <when test="approvalStatus != '임시저장'">
                        '결재대기'
                    </when>
                    <otherwise>
                        '임시저장'
                    </otherwise>
                </choose>
            , #{edmsFormNo}
            , #{shareStatus}
            , #{shareFolderNo}
        )
    </insert>

    <!-- 결재 상태 업데이트 -->
    <update id="updateDocumentApprovalStatus" parameterType="EdmsDocVO">
        UPDATE edms_doc
        SET 
              approval_status = #{approvalStatus}
            , current_approver_id = #{currentApproverId}
            , reject_reason = #{rejectReason}
            , approval_dt = SYSDATE
        WHERE edms_doc_no = #{edmsDocNo}
    </update>

    <!-- 결재 반려 상태 업데이트 -->
    <update id="updateDocumentRejectionStatus" parameterType="EdmsDocVO">
        UPDATE edms_doc
        SET 
              approval_status = #{approvalStatus}
            , current_approver_id = #{currentApproverId} <!-- 기안자의 ID로 초기화 -->
            , reject_reason = #{rejectReason}
            , approval_dt = SYSDATE
        WHERE edms_doc_no = #{edmsDocNo}
    </update>

    <!-- 특정 사용자에 대해 결재상태별 문서조회 -->
    <select id="selectDocumentsByStatusAndUserId" parameterType="map" resultType="EdmsDocVO">
        SELECT 
              d.edms_doc_no
            , d.id
            , d.title
            , d.content
            , d.file_name
            , d.submit_dt
            , d.approval_dt
            , d.approval_status
            , d.edms_form_no
            , d.share_status
            , d.share_folder_no
            , a.approval_order
        FROM edms_doc d
        LEFT JOIN approval_line a ON d.edms_doc_no = a.edms_doc_no
        WHERE d.approval_status = #{approvalStatus}
          AND d.id = #{userId}
        ORDER BY d.submit_dt DESC
    </select>

    <!-- 다음 결재자 조회 -->
	<select id="findNextApprover" parameterType="map" resultType="String">
	    SELECT approver
	    FROM approver
	    WHERE edms_doc_no = #{edmsDocNo}
	      AND approval_order = #{nextOrder}
	</select>
	
	<!-- 파일명 변경 -->
	<update id="updateDocumentFileName" parameterType="EdmsDocVO">
	    UPDATE edms_doc
	    SET file_name = #{fileName}
	    WHERE edms_doc_no = #{edmsDocNo}
	</update>

</mapper>