<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.edms.mapper.EdmsMapper">

<!-- 전체조회 -->
<select id="selectDocAllList" resultType="EdmsDocVO">
		SELECT edms_doc_no
        	, id
        	, title
        	, content
        	, file_name
        	, submit_dt
        	, approval_dt
        	, approval_status
        	, edms_form_No
        	, share_status
        	, share_folder_no
		FROM edms_doc
		<where>
			<if test="edmsDocNo != null and !edmsDocNo.equals('')">
				edms_doc_no = #{edmsDocNo}
			</if>
			<if test="id != null and !id.equals('')">
				and id = #{id}
			</if>
			<if test="edmsFormNo != null and !edmsFormNo.equals('')">
				and edms_form_No = #{edmsFormNo}
			</if>
			<if test="shareStatus != null and !shareStatus.equals('')">
				and share_status = #{shareStatus}
			</if>
			<if test="shareFolderNo != null and !shareFolderNo.equals('')">
				and share_folder_no = #{shareFolderNo}
			</if>
		</where>
		ORDER BY submit_dt
	</select>
	
	<!-- 단건조회 -->
	<select id="selectEdmsDocInfo" resultType="EdmsDocVO">
		SELECT edms_doc_no
        	, id
        	, title
        	, content
        	, file_name
        	, attatch
        	, submit_dt
        	, approval_dt
        	, approval_status
        	, edms_form_No
        	, share_status
        	, share_folder_no
		FROM edms_doc
		WHERE edms_doc_no = #{edmsDocNo}
	</select>
	
	<!-- 등록 -->
	<insert id="insertEdmsInfo" parameterType="EdmsDocVO">
		<selectKey keyProperty="edmsDocNo"
				   resultType="String"
				   order="BEFORE">
			SELECT NVL(MAX(edms_doc_no), 0) + 1
			FROM edms_doc
		</selectKey>
		INSERT INTO edms_doc
				(	
					edms_doc_no
					, id
					, title
					, content
					, file_name
					, attatch
					, submit_dt	
					, approval_status
					, edms_form_no
					, share_status
					, share_folder_no
				)
			VALUES
				(
					#{edmsDocNo}
					<!-- employees_seq.NEXTVAL -->
					, 'emp101'
					, #{title}
					, #{content}
					, #{fileName}
					, #{attatch}
					, sysdate					
					, '대기'				
					, #{edmsFormNo}
					, #{shareStatus}
					, #{shareFolderNo}
				)
	</insert>
	
	
	



</mapper>