<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}" layout:fragment="Content">
<head>
    <meta charset="UTF-8">
    <title>결재라인 조회</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
.page-inner, .col-md-12 {
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
}
.chk_box input[type="checkbox"] {
    display: none;
}
.chk_box {
    cursor: pointer;
    position: relative;
}
.chk_box .fa-star {
    color: #6c757d;
    font-size: 20px;
}
.chk_box input[type="checkbox"]:checked+.fa-star {
    color: #ffc107;
}
</style>
</head>
<body>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">결재라인 조회</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="text-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkAll"></th>
                                        <th class="hidden" style="display: none">결재라인번호</th>
                                        <th class="hidden" style="display: none">아이디</th>
                                        <th>번호</th>
                                        <th>결재라인이름</th>
                                        <th>생성일자</th>
                                        <th>최근사용일자</th>
                                        <th>즐겨찾기</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="apprLines">
                                    <th:block th:each="info,sts : ${apprLines}">
                                        <tr th:data-lineno="${info.approvalLineNo}" th:data-id="${info.id}">
                                            <td><input type="checkbox" class="rowCheck" th:value="${info.approvalLineNo}"></td>
                                            <td class="hidden" style="display: none;">[[${info.approvalLineNo}]]</td>
                                            <td class="hidden" style="display: none;">[[${info.id}]]</td>
                                            <td>[[${sts.count}]]</td>
                                            <td class="editable-name">[[${info.approvalLineName}]]</td>
                                            <td>[[${#dates.format(info.createDt, 'yyyy-MM-dd')}]]</td>
                                            <td>[[${#dates.format(info.recentUsedDt, 'yyyy-MM-dd')}]]</td>
                                            <td>
                                                <label class="chk_box">
                                                    <!-- favoriteChk 값이 Y일 때 체크박스 활성화 -->
                                                    <input type="checkbox" class="favoriteCheck" th:checked="${info.favoriteChk == 'Y'}" th:data-id="${info.id}" th:data-lineno="${info.approvalLineNo}" />
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                </label>
                                            </td>
                                            <td><button class="modifyAppLineButton btn btn-warning btn-sm" style="width: 80px; margin-right: 5px;">수정</button></td>
                                        </tr>
                                    </th:block>
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end" style="padding: 10px;">
                                <button id="addAppLineButton" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addApprovalLineModal" style="width: 80px; margin-right: 5px;">추가</button>
                                <button id="deleteAppLineButton" class="btn btn-success btn-sm" style="width: 80px;">삭제</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="apprList"></div>
        </div>
    </div>
</div>

<!-- 모달 창 구조 -->
<div class="modal fade" id="addApprovalLineModal" tabindex="-1" role="dialog" aria-labelledby="addApprovalLineModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addApprovalLineModalLabel">결재라인 추가</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addApprovalLineForm" action="/appr/apprLineInsert" method="post">
                    <div class="form-group">
                        <label for="approvalLineName">결재선 이름</label>
                        <input type="text" class="form-control" id="approvalLineName" name="approvalLineName" required>
                    </div>
                    <input type="hidden" name="id" th:value="${#authentication.principal.empVO.id}">
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="addApprovalLineForm" class="btn btn-primary">등록</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // 전체 선택 기능
        $('#checkAll').on('click', function() {
            $('.rowCheck').prop('checked', this.checked);
        });

        // 즐겨찾기 업데이트
        $('.apprLines').on('click', '.favoriteCheck', function(event) {
            event.stopPropagation();

            let id = $(this).attr("data-id");
            let approvalLineNo = $(this).data("lineno");
            let favoriteChk = $(this).is(':checked') ? 'Y' : 'N';
            let checkbox = $(this);

            $.ajax({
                type: 'POST',
                url: '/appr/favoriteUpdate',
                data: JSON.stringify({
                    id: id,
                    approvalLineNo: approvalLineNo,
                    favoriteChk: favoriteChk
                }),
                contentType: 'application/json',
                cache: false, // 캐시 비활성화
                success: function(response) {
                    alert('즐겨찾기 상태가 업데이트되었습니다.');
                },
                error: function() {
                    alert('즐겨찾기 상태 업데이트 중 오류가 발생했습니다.');
                    checkbox.prop('checked', !checkbox.is(':checked'));
                }
            });
        });
    });
</script>
</body>
</html>