<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">

	<div class="row">
	  <div class="col-md-12">
	    <form class="card">
	      <div class="card-header">
	        <div class="card-title">직원 추가</div>
	      </div>
	      <div class="card-body">
	        <div class="row">
	          <div class="col-md-8">
	            <div class="form-group">
	              <label for="email2">이메일</label>
	              <input type="email" class="form-control" id="email2" placeholder="이메일">
	            </div>
	            <!-- inline -->
	            <div class="form-group">
	              <label for="inlineinput" class="col-md-3 col-form-label">이름</label>
	              <input type="text" class="form-control input-full" id="inlineinput" placeholder="이름입력">
	            </div>                        
	            <div class="form-group">
	              <label for="password">제공 비밀번호</label>
	              <input type="password" class="form-control" id="password" placeholder="비밀번호">
	            </div>
	            <div class="form-group">
	              <label for="inlineinput" class="col-md-3 col-form-label">연락처</label>
	              <input type="text" class="form-control input-full" id="inlineinput" placeholder="연락처">
	            </div>  
	            <div class="form-group">
	              <label for="exampleFormControlSelect1">직급</label>
	              <select class="form-select" id="exampleFormControlSelect1">
	                <option value="a1">사장</option>
	                <option value="a2">관리자</option>
	                <option value="a3">본부장</option>
	                <option value="a4">팀장</option>
	                <option value="a5">사원</option>
	                <option value="a6">인턴</option>
	              </select>
	            </div>
	            <div class="form-group">
	              <label for="exampleFormControlSelect1">부서</label>
	              <select class="form-select" id="exampleFormControlSelect1">
	                <option>1</option>
	              </select>
	            </div>
	            <div class="form-group">
	              <label for="exampleFormControlSelect1">입사일</label>
	              <input type="date"
	                id="date"
	                max="2050-01-01"
	                min="2000-01-01"
	                value="2020-01-01">
	            </div>
	            <div class="form-group">
	              <label for="exampleFormControlFile1">사진입력</label>
	              <input type="file" class="form-control-file" id="exampleFormControlFile1">
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="card-action">
	        <button class="btn btn-success">추가하기</button>
	        <input type="reset" class="btn btn-danger">초기화하기</button>
	      </div>
	    </form>
	  </div>
	</div>
