<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
	<style>
		.noEmail{
			display : none;
			color : red;
		}

		.noName{
			display : none;
			color : red;
		}

		.noPassword{
			display : none;
			color : red;
		}

		.noPhone{
			display : none;
			color : red;
		}

		.noImage{
			display : none;
			color : red;
		}
	</style>
</head>
<body>

<div class="page-inner">
	<div class="page-header">
		<h3 class="fw-bold mb-3">직원 추가</h3>
		<ul class="breadcrumbs mb-3">
			<li class="nav-home"><a href="/main?boardsNo=1"> <i class="icon-home"></i>
			</a></li>
			<li class="separator"><i class="icon-arrow-right"></i></li>
			<li class="nav-item"><a href="#">관리자</a></li>
			<li class="separator"><i class="icon-arrow-right"></i></li>
			<li class="nav-item"><a href="#">직원 추가</a></li>
		</ul>
	</div>
	<form class="card">
		<div class="card-header">
			<div class="card-title">직원 추가</div>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">
					<div class="form-group">
						<label for="email">이메일</label>
						<input type="email" class="form-control" id="email" name="email" placeholder="이메일" oninput = "checkEmail()">
						<span class="noEmail">사용할 수 없는 이메일 입니다.</span>
					</div>
					<!-- inline -->
					<div class="form-group">
						<label for="name" class="col-md-3 col-form-label">이름</label>
						<input type="text" class="form-control input-full" id="name" name="name" placeholder="이름입력" oninput = "checkName()">
						<span class="noName">이름을 작성하여 주십시요</span>
					</div>                        
					<div class="form-group">
						<label for="password">제공 비밀번호</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="비밀번호" autoComplete="off"  oninput = "checkPassword()">
						<span class="noPassword">비밀번호는 4자리 이상 작성해주셔야합니다.</span>
					</div>
					<div class="form-group">
						<label for="phone" class="col-md-3 col-form-label">연락처</label>
						<input type="text" class="form-control input-full" 
							id="phone" maxlength="13"
							placeholder="'-'없이 숫자만 입력."
							oninput = "checkPhone(); autoHyphen(this);">
						<span class="noPhone">전화번호 11자리를 모두 채워주십시요.</span>
					</div>  
					<div class="form-group">
						<label for="exampleFormControlSelect1">직급</label>
						<select class="form-select" id="positionCode" name="positionCode">
							<option value="a1">사장</option>
							<option value="a2">관리자</option>
							<option value="a3">본부장</option>
							<option value="a4">팀장</option>
							<option value="a5">사원</option>
							<option value="a6" selected="selected">인턴</option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleFormControlSelect1">부서</label>
						<select class="form-select" id="departmentNo" name="departmentNo">
							<th:block th:each="info : ${departments}">
								<option th:value="${info.departmentNo}">[[${info.departmentName}]]</option>
							</th:block> 
						</select>
					</div>
					<div class="form-group">
						<label for="exampleFormControlSelect1">입사일</label>
						<input type="date"
							id="hireDt"
							name="hireDt"
							max="2050-01-01"
							min="2000-01-01"
							value="2025-01-01">
					</div>
					<div class="form-group">
						<label for="exampleFormControlFile1">사진입력</label>
						<input type="file" class="form-control" id="uploadFile" name="uploadFile"  oninput = "checkImage()"/>
						<span class="noImage">이미지가 비어있습니다.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="card-action">
			<button type="button" id="addEmployee" class="btn btn-success" disabled>추가하기</button>
			<input type="reset" id="resetEmployee" class="btn btn-danger"></button>
		</div>
	</form>
</div>

<script>
// 전화번호 자동  하이폰 삽입			
const autoHyphen = (target) => {
	target.value = target.value
			.replace(/[^0-9]/g, '')
			.replace(/^(\d{2,3})(\d{3,4})(\d{4})$/g, "$1-$2-$3")
			.replace(/(\-{1,2})$/g, "");
}
let emailInput = document.querySelector("#email");
let nameInput = document.querySelector("#name");
let passwordInput = document.querySelector("#password");
let phoneInput = document.querySelector("#phone");
let uploadFileInput = document.querySelector("#uploadFile");
// 입력값 확인후 입력값이 올바르면 버튼을 활성화 시켜준다.
function valueCheck(){
    // 인풋테그의 내용이 모두 1글자 이상일경우 허가한다.
    if(
        $('.noEmail').css('display') == "none"
        && $('#email').hasClass('is-valid') === true 
        && $('#name').hasClass('is-valid')  === true
				&& $('#phone').hasClass('is-valid') === true
        && $('#password').hasClass('is-valid') === true
        && $('#uploadFile').hasClass('is-valid')  === true
    ){
			$('#addEmployee').attr("disabled", false);
    }else{
			$('#addEmployee').attr("disabled", true);
    }
}
// 초기화 버튼 클릭
$('#resetEmployee').on('click', function(event){
	$('form')[0].reset();
	$('#email').removeClass("is-valid");
	$('#name').removeClass("is-valid");
	$('#phone').removeClass("is-valid");
	$('#password').removeClass("is-valid");
	$('#uploadFile').removeClass("is-valid");
	$('#email').removeClass("is-invalid");
	$('#name').removeClass("is-invalid");
	$('#phone').removeClass("is-invalid");
	$('#password').removeClass("is-invalid");
	$('#uploadFile').removeClass("is-invalid");
	$('.noEmail').css("display", "none");
	$('.noName').css("display", "none");
	$('.noPassword').css("display", "none");
	$('.noPhone').css("display", "none");
	$('.noImage').css("display", "none");
	valueCheck();
})
// 직원 추가
$('#addEmployee').on('click', function(event){
	
	let formData = new FormData(); 
	// 유사) jQuery.serializeArray();
	// 1) <from/>태그 내부의 입력태그 정보를 한번에 받음
	// 2) AJAX를 이용하여 'Content-type:multipart/form-data'를 보내는 경우
	
	formData.append("email", $('#email').val());
	formData.append("password", $('#password').val());
	formData.append("name", $('#name').val());
	formData.append("hireDt", $('#hireDt').val());
	formData.append("phone", $('#phone').val());
	formData.append("departmentNo", $('#departmentNo').val());
	formData.append("positionCode", $('#positionCode').val());
	formData.append("uploadFile",$('#uploadFile')[0].files[0]);

	for (const x of formData) {
 		console.log(x);
	};
	// $.Ajax 방식 
	$.ajax('/manager/addEmp',{
		type : 'post',				
		data : formData,     // data 속성의 값(객체 타입)을
		processData : false, // QueryString으로 변환하는 설정
		contentType : false  // 기본 contentType을 사용하지 않겠다고 설정
	})
	.done(result => {
		if(result == 'error1'){
			alert("이미지 파일이 아닙니다.");
		}else if(result == 'error2'){
			alert("파일업로드가 실패하였습니다.");
		}else if(result == 'error3'){
			alert("날짜 타입이 잘못되셨습니다.");
		}else if(result == 'error4'){
			alert("서버문제로 회원추가가 실패하였습니다.");
		}else{
			alert("회원 정보 추가가 성공했습니다.");
			location.href = "/manager/modifyEmp?id="+result;
		}
	})
	.fail(err => console.log(err));
});
// 이메일 체크
function checkEmail(){
    var email = $('#email').val(); 
    if(email.length <= 0){
        $('.noEmail').css("display","inline-block");
				$('#email').addClass("is-invalid");
				$('#email').removeClass("is-valid");
    	return null;
    }
		let atIdx = email.indexOf('@');
		if(atIdx == -1){
			$('.noEmail').css("display","inline-block");
			$('#email').addClass("is-invalid");
			$('#email').removeClass("is-valid");
			return null;
		}else{
			if(email.substr(atIdx).length < 2 ){
				$('.noEmail').css("display","inline-block");
				$('#email').addClass("is-invalid");
				$('#email').removeClass("is-valid");
				return null;
			}
		}
    $.ajax({
        url:'/manager/emailCheck', 
        type:'post', 
        data:{"email":email},
        success:function(answer){ 
            if(answer == 0){ // 사용가능한경우
                $('.noEmail').css("display", "none");
								$('#email').removeClass("is-invalid");
								$('#email').addClass("is-valid");
            } else { // 사용불가능한경우
                $('.noEmail').css("display","inline-block");
								$('#email').addClass("is-invalid");
								$('#email').removeClass("is-valid");
            }
						valueCheck();
        },
        error:function(){
            $('.noEmail').css("display","inline-block");
						$('#email').addClass("is-invalid");
						$('#email').removeClass("is-valid");
						valueCheck();
        }
    });
};
function checkName(){
	if(nameInput.value.length > 0 ){
		$('.noName').css("display", "none");
		$('#name').removeClass("is-invalid");
		$('#name').addClass("is-valid");
	}else{
		$('.noName').css("display","inline-block");
		$('#name').addClass("is-invalid");
		$('#name').removeClass("is-valid");
	}
	valueCheck();
}
function checkPassword(){
	if(passwordInput.value.length > 3 ){
		$('.noPassword').css("display", "none");
		$('#password').removeClass("is-invalid");
		$('#password').addClass("is-valid");
	}else{
		$('.noPassword').css("display","inline-block");
		$('#password').addClass("is-invalid");
		$('#password').removeClass("is-valid");
	}
	valueCheck();
}
function checkPhone(){
	if(phoneInput.value.length >= 13 ){
		$('.noPhone').css("display", "none");
		$('#phone').removeClass("is-invalid");
		$('#phone').addClass("is-valid");
	}else{
		$('.noPhone').css("display","inline-block");
		$('#phone').addClass("is-invalid");
		$('#phone').removeClass("is-valid");
	}
	valueCheck();
}
function checkImage(){
	if(uploadFileInput.value){
		$('.noImage').css("display", "none");
		$('#uploadFile').removeClass("is-invalid");
		$('#uploadFile').addClass("is-valid");
	}else{
		$('.noImage').css("display", "inline-block");
		$('#uploadFile').addClass("is-invalid");
		$('#uploadFile').removeClass("is-valid");
	}
	valueCheck();
}
</script>
</body>