<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
  <link href="/park/DataTables/datatables.min.css" rel="stylesheet">
  <script src="/park/DataTables/datatables.min.js"></script>

<div class="page-inner">
	<div class="page-header">
		<h3 class="fw-bold mb-3">직원 리스트</h3>
		<ul class="breadcrumbs mb-3">
			<li class="nav-home"><a href="/main?boardsNo=1"> <i class="icon-home"></i>
			</a></li>
			<li class="separator"><i class="icon-arrow-right"></i></li>
			<li class="nav-item"><a href="#">관리자</a></li>
			<li class="separator"><i class="icon-arrow-right"></i></li>
			<li class="nav-item"><a href="#">직원 리스트</a></li>
		</ul>
	</div>
	<div></div>
	<div class="col-md-12">
		<div class="card">
			<div class="card-header row">
				<div class="card-title col-7">
					직원 리스트
				</div>
				<div class="col-5">							
					<button class="btn btn-info" id="workBtn" style="float: right;margin-right: 5px;">근무자</button>
					<button class="btn btn-info" id="resignBtn" style="float: right;margin-right: 5px;">퇴직자</button>
					<button class="btn btn-info" id="allBtn" style="float: right;margin-right: 5px;">전체 직원</button>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="text-center">
						<table class="display" id="myTable">
							<thead>
								<tr>
									<th>회원 아이디 </th>
									<th>이름 </th>
									<th>직급 </th>
									<th>부서이름 </th>
									<th>입사일 </th>
									<th>퇴사일</th>
								</tr>
							</thead>
							<tbody>
							<th:block th:each="info : ${employees}">
								<tr th:onclick="|location.href='@{/manager/modifyEmp(id=${info.id})}'|">
									<td>[[${info.id}]]</td>
									<td>[[${info.name}]]</td>
									<td>[[${info.positionName}]]</td>
									<td>[[${info.departmentName}]]</td>
									<td>[[${#dates.format(info.hireDt, 'yyyy-MM-dd')}]]</td>
									<td>[[${#dates.format(info.resignDt, 'yyyy-MM-dd')}]]</td>
								</tr>
							</th:block>
							</tbody>
						</table>
					</div>
				</div>

			</div>
			<div class="card-action" style="padding: 10px;">
				<a th:href="@{/manager/addEmp}" class="btn btn-success">직원 추가</a>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function () {

	var table = $('#myTable').DataTable({
	// 표시건수 기능 숨기기
		lengthChange: false,
		// 검색 기능 숨기기
		// searching: false,
		// 정렬 기능 숨기기
		ordering: false,
		// 정보 표시 숨기기
		info: false,
		language: lang_kor,// 페이징 한글

	});
    
    // 퇴직자와 근무자를 나누어 띄어주기 
	// 근무자
	$('#workBtn').on('click', function() {
		table.column(5).search('^$', true, false).draw();
	});
	
	// 퇴직자
	$('#resignBtn').on('click', function() {
		table.column(5).search('20').draw();
	});
	// 전채조회
	$('#allBtn').on('click', function() {
		table.column(5).search('').draw();
	});

	/* Column별 검색기능 추가 */
	$('#myTable_filter').prepend('<select id="select"></select>');
	$('#myTable > thead > tr').children().each(function (indexInArray, valueOfElement) { 
			$('#select').append('<option>'+valueOfElement.innerHTML+'</option>');
	});
	
	$('.dataTables_filter input').unbind().bind('keyup', function () {
			var colIndex = document.querySelector('#select').selectedIndex;
			table.column(colIndex).search(this.value).draw();
	});
    
  // 날짜 검색 태그 삽입
  $("#myTable_wrapper .row:eq(0) .col-sm-12:eq(0)").append('<table border="0" cellspacing="5" cellpadding="5"><tbody><tr><td>입사기간:</td><td><input type="date"id="min"name="min"max="2050-01-01"min="2000-01-01"value=null></td><td> ~ </td><td><input type="date"id="max"name="max"max="2050-01-01"min="2000-01-01"value=null></td></tr></tbody></table>');
    
    /* 날짜검색 이벤트 */
    /* 날짜를 위한 push 메서드*/
	$.fn.dataTable.ext.search.push(
	    function( settings, data, dataIndex ) {
	    	// 최솟값을 위한 입력값 가져오기
	        var min = Date.parse($('#min').val());
	        console.log(min);
	        // 최대값을 가져오기 위한 입력값 가져오기
	        var max = Date.parse($('#max').val());
	        // 적용하고자하는 컬럼
	        var date = Date.parse( data[4] );
	 
	        if ( ( isNaN( min ) && isNaN( max ) ) ||
	             ( isNaN( min ) && date <= max ) ||
	             ( min <= date   && isNaN( max ) ) ||
	             ( min <= date   && date <= max ) )
	        {
	            return true;
	        }
	        return false;
	    }
	);
    
	$('#min, #max').change( function() {
		console.log("test");
			table.draw();
	} );
	$("div.dataTables_filter label").addClass("search-icon");
	$("div.dataTables_filter input").before('<i class="fas fa-search" style="margin-left: 8px; background-color: #ddd; padding:7px; border-radius:20%;"></i>');
	// $("#myTable #select").children().eq(1).remove();
});
</script>