<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<style>
.page-inner, .col-md-12 {
	width: 100%;
	max-width: 2400px;
	margin: 0 auto;
}

.pagination .active .page-link {
	background-color: #007bff; /* 활성 페이지의 배경색 */
	color: white; /* 활성 페이지의 글자색 */
	border-color: #007bff; /* 활성 페이지의 테두리 색상 추가 */
}

.pagination .page-item.disabled .page-link {
	pointer-events: none; /* 비활성화된 링크 클릭 방지 */
	color: #6c757d; /* 비활성화된 페이지의 글자색 */
}
</style>
<body>
	<div class="container">
		<div class="page-inner">
			<div class="page-header">
				<h3 class="fw-bold mb-3">게시판</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home"><a
						href="/main?boardsNo=${board.boardsNo}"> <i class="icon-home"></i>
					</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
					<li class="nav-item"><a href="/board/boardMainPage">게시판</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
					<li class="nav-item"><a
						href="/board/postList?boardsNo=${board.boardsNo}">[[${board.title}]]</a></li>
				</ul>
			</div>

			<div class="post">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">
									[[${board.title}]] <a class="float-end">
										<button class="btn btn-primary">글쓰기</button>
									</a>
								</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="text-center">
										<form name="frmSearch" id="frmSearch">
											<input name="nowPage" type="hidden"
												th:value="${paging.nowPage}"> <input name="boardsNo"
												type="hidden" th:value="${board.boardsNo}"> <input
												name="cntPerPage" type="hidden"
												th:value="${paging.cntPerPage}">
											<div
												style="display: flex; align-items: center; justify-content: flex-end;">
												<input name="searchWord" type="text"
													class="form-control form-control-sm"
													style="width: 200px; margin-right: 5px;"
													th:value="${paging.searchWord}" placeholder="검색어를 입력해 주세요.">
												<button type="submit" class="btn btn-secondary"
													style="width: 30px; height: 30px; font-size: 12px; display: flex; align-items: center; justify-content: center;">
													<i class="fas fa-search"></i>
												</button>
											</div>

										</form>
										<!-- <span>게시글 수 [[${#lists.size(posts)}]]</span> -->
										<table class="table">
											<thead>
												<tr>
													<th>게시글 번호</th>
													<th>머리글</th>
													<th>제목</th>
													<th>작성자</th>
													<th>등록날짜</th>
												</tr>
											</thead>
											<tbody>
												<th:block th:each="info : ${posts}">
													<!--  PostsVO => <tr/> -->
													<tr th:if="${info.display == 'q1'}">
														<td>[[ ${info.postsNo}]]</td>
														<!-- <td>[[ ${info.postsType}]]</td> -->
														<td><span th:switch="${info.postsType}"> <span
																th:case="공지" th:class="'postsType-p1'"> <span
																	class="badge badge-warning">공지</span>
															</span> <span th:case="필독" th:class="'postsType-p2'"> <span
																	class="badge badge-danger">필독</span>
															</span> <span th:case="일반" th:class="'postsType-p3'"> <span
																	class="badge badge-primary">일반</span>
															</span>
														</span></td>
														<td
															style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
															[[ ${info.title}]]</td>
														<td>[[ ${info.name}]]</td>
														<td><span
															th:text="(${info.postSetting == 'q1'} and ${info.display == 'q2'}) 
																		? ${#dates.format(info.postStartTime, 'yyyy-MM-dd')} 
																		: ${#dates.format(info.submitDT, 'yyyy-MM-dd')}">
														</span></td>
													</tr>
												</th:block>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<!-- 페이지 네이션 -->
							<!-- <th:block th:insert="~{common/fragments/pagination :: pagination(paging)}"></th:block> -->
							<nav aria-label="Page navigation" class="text-center mx-auto" style="margin-bottom: 20px;">
								<ul class="pagination justify-content-center">
									<li class="page-item"
										th:classappend="${paging.nowPage} == 1 ? 'disabled'"><a
										class="page-link" th:href="|javascript:gopage(1)|">처음</a></li>
									<li class="page-item"
										th:classappend="${paging.startPage} == 1 ? 'disabled'"><a
										class="page-link"
										th:href="|javascript:gopage(${paging.startPage - 1})|">이전</a></li>
									<li
										th:each="num : ${#numbers.sequence(paging.startPage, paging.endPage)}"
										class="page-item"
										th:classappend="${num == paging.nowPage} ? 'active' : ''"><a
										class="page-link" th:href="|javascript:gopage(${num})|"
										th:text="${num}"></a></li>

									<li class="page-item"
										th:classappend="${paging.endPage == paging.lastPage} ? 'disabled'">
										<a class="page-link"
										th:href="|javascript:gopage(${paging.endPage + 1})|">다음</a>
									</li>
									<li class="page-item"
										th:classappend="${paging.lastPage} <= ${paging.endPage} ? 'disabled'">
										<a class="page-link"
										th:href="|javascript:gopage(${paging.lastPage})|">끝</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		// 제이쿼리 객체 생성
		// 글쓰기 게시판 번호 받아오기
		let boardsNo = /*[[${board.boardsNo}]]*/'';

		// 글쓰기 클릭 이벤트
		$('.post button.btn.btn-primary').on('click', function() {
			let url = '/board/postInsert?boardsNo=' + boardsNo;
			location.href = url;
		});

		// 게시글 선택
		$('.post tbody > tr').on('click', function(event) {
			let trTag = event.currentTarget;
			let postsNo = $(trTag).children().eq(0).text();
			let url = '/board/postInfo?postsNo=' + postsNo;
			location.href = url;
		});

		// 페이징
		function gopage(p) {
			frmSearch.nowPage.value = p;
			frmSearch.submit();
		}
	</script>
</body>
</html>