<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="text-center">
		<h3>게시판별 게시글 목록</h3>
		<table class="table">
			<thead>
				<tr>
					<th>게시글 번호</th>
					<th>머리글</th>
					<th>작성일자</th>
					<th>게시 기간여부</th>
					<th>게시 시작시간</th>
					<th>게시 종료시간</th>
					<th>제목</th>
					<th>설명</th>
					<th>권한</th>
					<th>아이디</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${posts}">
				<!--  PostsVO => <tr/> -->
				<tr>
					<td>[[ ${info.postsNo}]]</td>
					<td>[[ ${info.postsType}]]</td>
					<td>[[ ${info.submitDT}]]</td>
					<td>[[ ${info.postSetting}]]</td>
					<td>[[ ${info.postStartTime}]]</td>
					<td>[[ ${info.postEndTime}]]</td>
					<td>[[ ${info.title}]]</td>
					<td>[[ ${info.content}]]</td>
					<td>[[ ${info.authority}]]</td>
					<td>[[ ${info.id}]]</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- <script>
		// 제이쿼리 객체 생성
		$('tbody > tr').on('click', function(event) {
			let trTag = event.currentTarget;
			let bno = $(trTag).children().eq(0).text();
			let url = 'boardInfo?bno=' + bno;
			location.href=url;
		});
	</script> -->
</body>
</html>