<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="text-center">
		<h3><span>[[${board.title}]]</span> </h3>
		<span>게시글 수  [[${#lists.size(posts)}]]</span>
		<table class="table">
			<thead>
				<tr>
					<th>게시글 번호</th>
					<th>머리글</th>
					<th>제목</th>
					<th>아이디</th>
					<th>작성일자</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${posts}">
				<!--  PostsVO => <tr/> -->
				<tr>
					<td>[[ ${info.postsNo}]]</td>
					<td>[[ ${info.postsType}]]</td>
					<td>[[ ${info.title}]]</td>
					<td>[[ ${info.id}]]</td>
					<td>[[ ${ #dates.format(info.submitDT, "yyyy-MM-dd")} ]]</td>
				</tr>
				</a>
			</tbody>
		</table>
	</div>
	<script>
		// 제이쿼리 객체 생성
		$('tbody > tr').on('click', function(event) {
			let trTag = event.currentTarget;
			let postsNo = $(trTag).children().eq(0).text();
			let url = '/board/postInfo?postsNo=' + postsNo;
			location.href=url;
		});
	</script>
</body>
</html>