<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<div class="text-center">
		<h3>
			<span>[[${board.title}]]</span>
		</h3>
		
	<form name="form" id="form">
	<input name="nowPage" type="hidden">
	<input name="boardsNo" type="hidden" th:value="${board.boardsNo}">
	<input name="cntPerPage" type="hidden" th:value="${paging.cntPerPage}">
	</form>	
		<span>게시글 수 [[${#lists.size(posts)}]]</span>
		<table class="table">
			<thead>
				<tr>
					<th>게시글 번호</th>
					<th>머리글</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일자</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info : ${posts}">
					<!--  PostsVO => <tr/> -->
					<tr>
						<td>[[ ${info.postsNo}]]</td>
						<td>[[ ${info.postsType}]]</td>
						<td>[[ ${info.title}]]</td>
						<td>[[ ${info.id}]]</td>
						<td>[[ ${ #dates.format(info.submitDT, "yyyy-MM-dd")} ]]</td>
					</tr>
			</tbody>
		</table>
	
		<!-- 페이지 네이션 -->
		<nav aria-label class="nav justify-content-around">
			<ul class="pagination">
				<li class="page-item" th:classappend="${paging.nowPage} == 1 ? 'disabled'">
					<a class="page-link"
						th:href="|javascript:gopage(1)|">처음</a>
			    </li>
				<li class="page-item" th:classappend="${paging.startPage} == 1 ? 'disabled'">
					<a class="page-link" 
						th:href="|javascript:gopage(${paging.startPage - 1})|">이전</a>
			    </li>
				<li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
				    class="page-item"
				    th:addclass="${num} == ${paging.nowPage} ? active">
					<a class="page-link" th:href="|javascript:gopage(${num})|"
					    th:text="${num}"></a>
			     </li>
				<li class="page-item" >
					<a class="page-link" th:classappend="${paging.endPage <= paging.lastPage}"
						th:href="|javascript:gopage(${paging.endPage + 1})|">다음</a>
			    </li>
			     <li class="page-item" th:classappend="${paging.lastPage} <= ${paging.endPage} ? 'disabled'">
			     	<a class="page-link" 
			     	    th:href="|javascript:gopage(${paging.lastPage})|">끝</a>
			     </li>
			</ul>
		</nav>	
	</div>
	<script>
		// 제이쿼리 객체 생성
		$('tbody > tr').on('click', function(event) {
			let trTag = event.currentTarget;
			let postsNo = $(trTag).children().eq(0).text();
			let url = '/board/postInfo?postsNo=' + postsNo;
			location.href = url;
		});
		
		// 페이징
		function gopage(p) {
		    document.form.nowPage.value = p;
			document.form.submit();
		}
		
	</script>
</body>
</html>