<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.doc.mapper.DocMapper">
    
    <!-- 개인문서 -->
    <!-- 전체조회 최신순 -->
    <select id="selectDocJoinList" resultType="DocJoinVO">
        SELECT 
            e.department_no 
            , d.edms_doc_no
            , d.title 
            , e.id 
            , d.submit_dt
        FROM 
            edms_doc d
        JOIN 
            employees e ON d.id = e.id
        WHERE e.id = #{id}    
        ORDER BY 
            d.submit_dt DESC
    </select>
    
    <!-- 문서결과별 문서 조회 -->
    <select id="getDocumentsByStatusAndUserId" parameterType="map" resultType="EdmsDocVO">
	    SELECT 
	        e.department_no
	        , d.edms_doc_no
	        , d.title
	        , e.id
	        , d.submit_dt
	        , CASE 
	            WHEN d.current_approver_id = #{userId} THEN '결재수신' 
	            ELSE d.approval_status 
	          END AS approval_status
	        , d.important
	        , d.approval_dt
	    FROM 
	        edms_doc d
	    JOIN 
	        employees e ON d.id = e.id
	    WHERE 
	        d.approval_status = #{approvalStatus}
	        AND e.id = #{userId}
	    ORDER BY 
	        d.submit_dt DESC
	</select>

    
    
   		<!-- 부서문서 -->
		<!-- 부서별 전체조회 최신순 -->
		<select id="selectDocDeptList" parameterType="Integer" resultType="DocJoinVO">
		    SELECT 
		        e.department_no, 
		        d.edms_doc_no, 
		        d.title, 
		        e.id, 
		        d.submit_dt,
		        d.important 
		    FROM 
		        edms_doc d
		    JOIN 
		        employees e ON d.id = e.id
		    WHERE   
		    	e.department_no = #{departmentNo} 
		    	AND (d.important = 'false' OR d.important IS NULL)    
		    ORDER BY 
		        d.submit_dt DESC
		</select>
    
    
    <!-- 부서 결재완료 문서 조회 (중요문서 제외) -->
    <select id="getDeptStatus" parameterType="int" resultType="DocJoinVO">
        SELECT 
            e.department_no
            , d.edms_doc_no
            , d.title 
            , e.id
            , d.submit_dt
            , d.approval_status
            , d.important 
        FROM 
            edms_doc d
        JOIN 
            employees e ON d.id = e.id  
        WHERE 
            d.approval_status = '결재완료'
            AND e.department_no = #{departmentNo}
        ORDER BY 
            d.submit_dt DESC
    </select>
        
    <!-- 부서 중요문서 조회 -->
    <select id="getDeptImportant" parameterType="map" resultType="DocJoinVO">
	    SELECT 
	        e.department_no
	        , d.edms_doc_no
	        , d.title 
	        , e.id
	        , d.submit_dt
	        , d.important 
	    FROM 
	        edms_doc d
	    JOIN 
	        employees e ON d.id = e.id  
	    WHERE 
	        d.important = #{important}  
	        AND e.department_no = #{departmentNo} 
	    ORDER BY 
	        d.submit_dt DESC
	</select>
        
    <!-- 부서 중요문서 이동 -->
    <update id="updateDeptImportant" parameterType="map">
        UPDATE 
            edms_doc
        SET 
            important = #{important}
        WHERE 
            edms_doc_no = #{edmsDocNo}
    </update>
    
</mapper>