<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.company.mapper.CompanyMapper">

<!-- 회사 전체조회 -->
<select id="selectCompanyAll" resultType="CompanysVO">
	
	SELECT	 company_no
			 ,company_name
			 ,customer_name
			 ,phone
	FROM	 companys
	ORDER BY company_no
	
</select>

</mapper>
