<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.employee.mapper.DepartmentMapper">
	<select id="selectDepartmentAll" resultType="DepartmentVO">
		select 
		    department_no,
		    department_name,
		    department_level,
		    upper_department_no
		from department
		order by department_no
	</select>
	<select id="selectDepartmentBydeptNo" resultType="DepartmentVO" parameterType="int">
		select 
		    department_no,
		    department_name,
		    department_level,
		    upper_department_no
		from department
		where department_no  = #{departmentNo}
	</select>
	
	<!-- 수민 : 상위 부서 번호 가져오기 -->
	<select id="selectUpperDepartmentNo" resultType="DepartmentVO" parameterType="int" >
		SELECT DEPARTMENT_NAME
			  ,DEPARTMENT_NO
              ,UPPER_DEPARTMENT_NO
	    FROM   department
	    WHERE  UPPER_DEPARTMENT_NO = #{upperDepartmentNo}
	</select>
</mapper>