<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.employee.mapper.EmployeeMapper">
	<select id="insertEmployee" statementType="CALLABLE" parameterType="java.util.HashMap">
		{
			call ADD_NEW_EMP(
				#{password}, 
				#{phone}, 
				#{email}, 
				#{imageLink}, 
				#{departmentNo},
				#{hireDt},
				#{positionCode},
				#{name}
			)
		}
	</select>	
	<select id="selectEmployee" parameterType="EmployeeVO">
		SELECT
		    id,
		    name,
		    email,
		    password,
		    hire_dt,
		    phone,
		    image_link,
		    e.department_no,
		    position_code,
		    RESIGN_DT,
    		D_SIGNATURE,
            d.department_name
		FROM
		    employees e
        JOIN 
            department d
        on (e.department_no = d.department_no)
		WHERE id = #{id}
	</select>
</mapper>