<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<link href="/park/DataTables/datatables.min.css" rel="stylesheet">
<script src="/park/DataTables/datatables.min.js"></script>
<body>
	<div class="page-inner">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">결재양식 목록</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="text-center">
								<table class="table" id="myTable">
									<thead>
										<tr>
											<th>번호</th>
											<th>양식이름</th>
											<th>양식분류</th>
											<th>생성일시</th>
										</tr>
									</thead>
									<tbody class="edmsForm">
										<th:block th:each="info : ${edmsForms}">
											<tr>
												<td>[[${info.edmsFormNo}]]</td>
												<td>[[${info.edmsFormName}]]</td>
												<td>[[${info.edmsFormType}]]</td>
												<td>[[ ${ #dates.format(info.createDt, "yyyy-MM-dd"
													)}]]</td>
														<!-- <td><input type="checkbox" name="selectedForms"
													th:value="${info.edmsFormNo}" /> -->
											</tr>
										</th:block>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div style="text-align: center;">
		<button class="btn btn-secondary" th:onclick="|location.href='@{/}'|">
			<span class="btn-label"><i class="fa fa-plus"></i></span> 등록
		</button>
	</div> -->

	<script>
		$('.edmsForm > tr').on('click', function(event) {
			/*
			if (event.target.tagName == 'INPUT')
				return;
			 */
			let trTag = event.currentTarget;
			let fno = $(trTag).children().eq(0).text();
			let url = 'edmsFormInfo?edmsFormNo=' + fno;
			location.href = url;
		});
		
		$(document).ready(function () {
		    var table = $('#myTable').DataTable({
				// 표시건수 기능 숨기기
			  	lengthChange: false,
			  	// 검색 기능 숨기기
			  	// searching: false,
			  	// 정렬 기능 숨기기
			  	ordering: false,
			  	// 정보 표시 숨기기
			  	info: false,
		    });

		    /* Column별 검색기능 추가 */
		    $('#myTable_filter').prepend('<select id="select"></select>');
		    $('#myTable > thead > tr').children().each(function (indexInArray, valueOfElement) { 
		        $('#select').append('<option>'+valueOfElement.innerHTML+'</option>');
		    });
		    
		    $('.dataTables_filter input').unbind().bind('keyup', function () {
		        var colIndex = document.querySelector('#select').selectedIndex;
		        table.column(colIndex).search(this.value).draw();
		    });
		});
	</script>
</body>
</html>