<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<head>
    <link href="/park/DataTables/datatables.min.css" rel="stylesheet">
    <script src="/park/DataTables/datatables.min.js"></script>
</head>

<body>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">개인문서함</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="text-center">
                            <table class="table" id="myTable">
                                <thead>
                                <tr>
                                    <th class="hidden" style="display: none">문서번호</th>
                                    <th>번호</th>
                                    <th class="hidden" style="display: none">부서번호</th>
                                    <th>부서명</th>
                                    <th>제목</th>
                                    <th>기안자</th>
                                    <th>작성일자</th>
                                </tr>
                                </thead>
                                <tbody class="docBox">
                                <th:block th:each="info,sts : ${docBoxs}">
                                    <tr>
                                        <td class="hidden1" style="display: none;">[[${info.edmsDocNo}]]</td>
                                        <td>[[${sts.count}]]</td>
                                        <td class="departmentNo" style="display: none;">[[${info.departmentNo}]]</td>
                                        <td>[[${info.departmentName}]]</td>
                                        <td>[[${info.title}]]</td>
                                        <td>[[${info.id}]]</td>
                                        <td>[[${#dates.format(info.submitDt, "yyyy-MM-dd")}]]</td>
                                    </tr>
                                </th:block>
                                </tbody>
                            </table>

                            <!-- 결재 상태별 버튼 -->
							<button type="button" class="btn btn-info btn-sm"
							        th:onclick="|location.href='@{/docBox/docApprovalStatusList(approvalStatus=결재대기)}'|">
							    결재대기
							</button>
							<button type="button" class="btn btn-success btn-sm"
							        th:onclick="|location.href='@{/docBox/docApprovalStatusList(approvalStatus=결재완료)}'|">
							    결재완료
							</button>
							<button type="button" class="btn btn-warning btn-sm"
							        th:onclick="|location.href='@{/docBox/docApprovalStatusList(approvalStatus=결재수신)}'|">
							    결재수신
							</button>
							<button type="button" class="btn btn-danger btn-sm"
							        th:onclick="|location.href='@{/docBox/docApprovalStatusList(approvalStatus=반려)}'|">
							    반려
							</button>
							<button type="button" class="btn btn-info btn-sm"
							        th:onclick="|location.href='@{/docBox/docApprovalStatusList(approvalStatus=임시저장)}'|">
							    임시저장
							</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>

<script th:inline="javascript">
	let approvalStatus = [[${param.approvalStatus}]]
    // 문서함에서 문서 클릭 시 문서함 목록으로 이동하기
    $('.docBox > tr').on('click', function(event) {
        let trTag = event.currentTarget;
        let edno = $(trTag).children().eq(0).text();
        let id = /*[[${#authentication.principal.empVO.id}]]*/ ''; // 로그인한 사용자 id
        let url = `/edms/edmsDocInfo?edmsDocNo=${edno}&fromDocList=true&id=${id}&approvalStatus=${approvalStatus}`;
        location.href = url;
    });

    $(document).ready(function () {
        var table = $('#myTable').DataTable({
            lengthChange: false,
            ordering: false,
            info: false
        });

        // Column별 검색기능 추가
        $('#myTable_filter').prepend('<select id="select"></select>');
        $('#myTable > thead > tr').children().each(function (indexInArray, valueOfElement) { 
            $('#select').append('<option>' + valueOfElement.innerHTML + '</option>');
        });

        $('.dataTables_filter input').unbind().bind('keyup', function () {
            var colIndex = document.querySelector('#select').selectedIndex;
            table.column(colIndex).search(this.value).draw();
        });
    });
</script>

</body>
</html>