<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.board.mapper.BoardMapper">
	<!-- 전체조회 -->
	<select id="selectBoardAll" parameterType="BoardsVO" resultType="BoardsVO">
		SELECT BOARDS_NO,
			   FIND_COMMON_CODE_NAME(BOARDS_TYPE) as BOARDS_TYPE,
			   DEPARTMENT_NAME,
    		   ANONY_CHK,
 			   TITLE,
			   DESCRIPTION,
			   AUTHORITY
	    FROM   boards
	    ORDER BY BOARDS_TYPE, boards_no
	</select>
	
	<!-- 등록 -->
	<insert id="insertBoardInfo" parameterType="BoardsVO">
		<selectKey keyProperty="boardsNo"
				   resultType="Integer"
				   order="BEFORE">
			SELECT NVL(MAX(BOARDS_NO), 10000) + 1
			FROM board
		</selectKey>
		INSERT INTO boards
				(   BOARDS_NO,
			   		BOARDS_TYPE,
			   		DEPARTMENT_NAME,
    		   		ANONY_CHK,
 			   		TITLE,
			   		DESCRIPTION,
			   		AUTHORITY
				)
		VALUES  (   #{boardsNo}
			       ,#{boardsType}
			       ,#{departmentName}
			       ,#{anonyChk}
			       ,#{title}
			       ,#{description}
			       ,#{authority}
				)
	</insert>
	
	<!-- 게시글 전체조회 -->
	<select id="selectPostAll" parameterType="PostsVO" resultType="PostsVO">
		SELECT POSTS_NO
     		 , BOARDS_NO
     		 , FIND_COMMON_CODE_NAME(POSTS_TYPE) as POSTS_TYPE
     		 , FIND_COMMON_CODE_NAME(POST_SETTING) as POST_SETTING
     		 , POST_STARTTIME 
     		 , POST_ENDTIME
     		 , TITLE
     		 , CONTENT
     		 , AUTHORITY
     		 , ID
		FROM posts
		<!-- WHERE BOARDS_NO = #{boardsNo} -->
	    ORDER BY POSTS_NO
	</select>
</mapper>