<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<style>
.card .card-action {
	margin-top: 20px;
}
.card-action{
	margin-left:70px;
	margin-right:70px;
}
.card-body{
	margin-left:70px;
	margin-right:70px;
}
</style>
<body>
		<div class="page-inner" style="width:90%; margin:auto;">
			<div class="page-header">
				<h3 class="fw-bold mb-3">불편/장애사항</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home"><a href="/main?boardsNo=1"> <i
							class="icon-home"></i>
					</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
					<li class="nav-item"><a href="/complain/complainList">고객관리</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
					<li class="nav-item"><a href="#">불편/장애사항 수정</a></li>
				</ul>
			</div>
			<div class="row">
				<form name="updateForm" th:action="@{/complain/complainUpdate}"
					method="post">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<div class="card-title">불편/장애사항 수정</div>
							</div>
							<div class="card-body">
								<div class="row"
									style="padding-left: 100px; padding-right: 20px;">
									<!-- 왼쪽화면 -->
									<div class="col-md-6 col-lg-30">
										<!-- <div class="card-title">회사명</div> -->
										<br /> <label for="companyName"><i
											class="fas fa-caret-right"> 회사명 : </i>
											[[${complain.companyName}]]</label> <br /> <br /> <label
											for="customerName"><i class="fas fa-caret-right">
												고객명 : </i> [[${complain.customerName}]]</label> <br /> <br /> <label
											for="phone"><i class="fas fa-caret-right"> 연락처 :
										</i> [[${complain.phone}]]</label> <br />


									</div>
									<!-- 왼쪽화면 끝 -->


									<!-- 오른쪽화면 -->
									<div class="col-md-6 col-lg-30">
										<br /> <label for="uploadDt"><i
											class="fas fa-caret-right"> 문제발생일 : </i>
											[[${#dates.format(complain.complainDt, 'yyyy년 MM월 dd일')}]]</label> <br />
										<br /> <label for="customerName"> <span><i
												class="fas fa-caret-right"> 문의구분 : </i>
												[[${complain.complainType == 1 ? '고객불편' :
												(complain.complainType == 2 ? '운영장애' : '')}]] <br /></label> <br />
										<br /> <label for="phone"><i
											class="fas fa-caret-right"> 작성일 : </i>
											[[${#dates.format(complain.uploadDt, 'yyyy년 MM월 dd일')}]]</label> <br />

									</div>




								</div>
								<!-- 오른쪽화면 끝 -->
							</div>
							<div class="card-action">
								<div class="form-group" style="float: center;">
									<label for="complainTitle"><i
										class="fas fa-feather-alt
									"
										style="display: inline-block;"></i>　 </label> <input type="text"
										class="form-control form-control" name="complainTitle"
										aria-label="Username" size=60 maxlength=50 id="complainTitle"
										style="width: 95%; display: inline-block;" th:value="${complain.complainTitle}"
										aria-describedby="basic-addon1" placeholder="제목을 입력하세요."><br />
									<br />
								</div>
								
								<div class="form-group">
										<div class="input-group">
											<span class="input-group-text"
												style="font-weight: bold; color: #495057; font-size: 12px; background-color: #cfe2ff;">문의내용</span>
											<textarea class="form-control" name="complainContent" th:utext="${complain.complainContent}"
												id="complainContent" rows="7" maxlength="500"
												aria-label="With textarea"></textarea>
										</div>
									</div>

									<div class="form-group">
										<div class="input-group">
											<span class="input-group-text"
												style="font-weight: bold; color: #495057; font-size: 12px; background-color: #cfe2ff;">요청사항</span>
											<textarea class="form-control" name="complainRequest" th:utext="${complain.complainRequest}"
												id="complainRequest" rows="7" maxlength="500"
												aria-label="With textarea"></textarea>
										</div>
									</div>
									<br />

									<div class="form-group" style="float: right;">
										<label
											style="display: inline-block; margin-right: 8px; font-weight: bold;">
											<i class="fas fa-lock
									"></i> 비밀번호 :
										</label><input type="password" name="complainPwd"
											class="form-control form-control-sm" id="complainPwd" th:value="${complain.complainPwd}"
											maxlength="8" placeholder="최대 8자리"
											style="width: 170px; display: inline-block;">
									</div>
								
								
								
								
								
								<br/><br/><br/>
								<div class="text-center">
									<a><button type="submit" class="btn btn-success">등록</button></a>
									<button type="button" class="btn btn-danger"
										th:onclick='|location.href="@{/complain/complainList}"|'>취소</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<br />
		</div>

	<script>
		$(updateForm).on('submit', complainUpdateHandler)

		document.addEventListener('DOMContentLoaded', function() {
			// `textarea` 요소 가져오기
			const complainContent = document.getElementById("complainContent");
			const complainRequest = document.getElementById("complainRequest");

			// 서버에서 가져온 `<br/>` 태그를 줄 바꿈 문자로 변환
			if (complainContent) {
				complainContent.value = complainContent.value.replace(
						/<br\s*\/?>/gi, '\n');
			}
			if (complainRequest) {
				complainRequest.value = complainRequest.value.replace(
						/<br\s*\/?>/gi, '\n');
			}
		});

		function complainUpdateHandler(event) {
			event.preventDefault();

			let title = $('form [name="complainTitle"]');
			if (title.val() == '') {
				alert('제목이 입력되지 않았습니다.');
				title.focus();
				return;
			}

			let content = $('form [name="complainContent"]');
			if (content.val() == '') {
				alert('문의내용이 입력되지 않았습니다.');
				content.focus();
				return;
			}

			let request = $('form [name="complainRequest"]');
			if (request.val() == '') {
				alert('요청사항이 입력되지 않았습니다.');
				request.focus();
				return;
			}

			let pwd = $('form [name="complainPwd"]');
			if (pwd.val() == '') {
				alert('비밀번호를 입력해주세요.');
				pwd.focus();
				return;
			}

			$('#complainContent').val(
					$('#complainContent').val().replace(/\n/g, '<br/>'));
			$('#complainRequest').val(
					$('#complainRequest').val().replace(/\n/g, '<br/>'));

			alert('게시글이 등록되었습니다.');
			updateForm.submit();
		}
	</script>
</body>
</html>