<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<body>
	<div class="page-inner">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">불편/장애사항 등록</div>
					</div>
					<div class="card-body">
						<div class="input-group">
							<div class="input-group-prepend">
								<button type="submit" class="btn btn-search pe-1">
									<i class="fa fa-search search-icon"></i>
								</button>
							</div>
							<input type="text" placeholder="Search ..." class="form-control" />
						</div>
					</div>
					<div class="card-body"></div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>