<!DOCTYPE html>
<!-- <html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content"> -->
	
	<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/home2_layout}"
	layout:fragment="Content">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; 
        }
        .card {
            margin: 20px;
        }
        .card-title {
            font-size: 24px; 
        }
    </style>
</head>

<body>
	<div class="container">
		<div class="page-inner text-center">
			<div class="page-header">
				<h3 class="fw-bold mb-3">THISHOUSEWARE</h3>
				<ul class="breadcrumbs mb-3">
					<li class="nav-home"><a href="/"> <i class="icon-home"></i> </a></li>
					<li class="nav-item"><a href="#">ThisHouseWare</a></li>
					<li class="separator"><i class="icon-arrow-right"></i></li>
				</ul>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-5">
					<div class="card">
						<div class="card-header">
							<div class="card-title">로그인</div>
						</div>
						<div class="card-body">
							<p style="color:black; font-size:20px; font-weight:bold;">로그인</p>
							<a href="/login" class="btn btn-primary">로그인하기</a> <!-- 링크 추가 -->
						</div>
					</div>
				</div>
				<div class="col-md-5">
					<div class="card">
						<div class="card-header">
							<div class="card-title">문의등록</div>
						</div>
						<div class="card-body">
							<a href="/inquiry" class="btn btn-success">문의등록</a> <!-- 링크 추가 -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
