<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>협조문 양식</title>

</head>
<body>
				<div class="card">
					<div class="card-header">
						<div class="card-title">협조문 양식</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="text-center">
								<form action="/submitProposal" method="post">
								<table class="table">
										<tr>
											 <th width="15%">신청서 번호</th>
											 <td width="10%"></td>
											 <th width="15%">결재선 지정</th>
											 <td width="60%"><span id="apprLineSel"></span></td>	
										</tr>

									</table>
									<h2 style="text-align: center;">협조문 </h2>
									
									<!-- 사내/사외 선택 박스 추가 -->
									<table border="1" style="border-collapse: collapse; width: 100%; margin: 0 auto;">
										<tr>
											<th width="15%">구분</th>
											<td>
												<select name="division" required>
													<option value="">선택하세요</option>
													<option value="internal">사내</option>
													<option value="external">사외</option>
												</select>
											</td>
										</tr>

										<tr>
											<th width="15%">제목</th>
											<td colspan="3"><input type="text" name="title" style="width: 100%;" required></td>
										</tr>
										<tr>
											<th width="15%">발신일</th>
											<td><input type="date" name="date" required></td>
											<th width="15%">수신처</th>
											<td><input type="text" name="recipient" required></td>
											<!-- 나중에 부서 선택 할 수 있도록 변경 사외 선택시 해당 부분 비활성화-->
										</tr>
										<tr>
											<th width="15%">장소</th>
											<td colspan="3"><input type="text" name="location" style="width: 100%;" required></td>
										</tr>

										<tr>
											<th width="15%">내용</th>
											<td colspan="5" style="height: 800px; vertical-align: center;">상기와 같이 협조를 요청드립니다.</td>
										</tr>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>