<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>업무보고서 양식</title>
<style>
.table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #000;
	padding: 10px;
	text-align: left;
}

th {
	background-color: #f4f4f4;
}

.buttons {
	margin-top: 20px;
}
</style>
</head>
<body>
	<div class="page-inner">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">업무보고서 양식</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="text-center">
								<form action="/submitEducation" method="post">
								<table class="table">
										<tr>
											<th>신청서 번호</th>
											<td></td>
											<th>결재선 지정</th>
											<td><span id="apprLineSel"></span></td>											
										</tr>
									</table>
									<!-- 여기까진 고정이어야함 -->
									<h2 style="text-align: center;">월별 업무보고서</h2>
									<br>
									<br>
									<br>
									<!-- 업무 내용 -->
									<h4>업무 내용</h4>
									<table class="table">
										<tr>
											<th>업무명</th>
											<th>내용</th>
											<th>일자/신청일</th>
										</tr>
										<tr>
											<td><input type="text" name="taskName1" /></td>
											<td><input type="text" name="taskDetail1" /></td>
											<td><input type="date" name="taskDate1" /></td>
										</tr>
										<tr>
											<td><input type="text" name="taskName2" /></td>
											<td><input type="text" name="taskDetail2" /></td>
											<td><input type="date" name="taskDate2" /></td>
										</tr>
									</table>
									<br>
									<br>
									<!-- 업무 추진 사항 -->
									<h4>업무 추진 사항</h4>
									<br>
									<br>
									<table class="table">
										<tr>
											<th>주차</th>
											<th>주요 추진 업무</th>
											<th>수행 내용</th>
											<th>완료/진행사항</th>
											<th>결과</th>
											<th>비고</th>
										</tr>
										<tr>
											<td>1주차</td>
											<td><input type="text" name="week1Task" /></td>
											<td><input type="text" name="week1Content" /></td>
											<td><input type="text" name="week1Progress" /></td>
											<td><input type="text" name="week1Result" /></td>
											<td><input type="text" name="week1Remark" /></td>
										</tr>
										<tr>
											<td>2주차</td>
											<td><input type="text" name="week2Task" /></td>
											<td><input type="text" name="week2Content" /></td>
											<td><input type="text" name="week2Progress" /></td>
											<td><input type="text" name="week2Result" /></td>
											<td><input type="text" name="week2Remark" /></td>
										</tr>
										<tr>
											<td>3주차</td>
											<td><input type="text" name="week3Task" /></td>
											<td><input type="text" name="week3Content" /></td>
											<td><input type="text" name="week3Progress" /></td>
											<td><input type="text" name="week3Result" /></td>
											<td><input type="text" name="week3Remark" /></td>
										</tr>
										<tr>
											<td>4주차</td>
											<td><input type="text" name="week4Task" /></td>
											<td><input type="text" name="week4Content" /></td>
											<td><input type="text" name="week4Progress" /></td>
											<td><input type="text" name="week4Result" /></td>
											<td><input type="text" name="week4Remark" /></td>
										</tr>
									</table>
									<br>
									<br>
									<!-- 계획 사업 및 목표 -->
									<h4>계획 사업 및 목표</h4>
									<br>
									<br>
									<table class="table">
										<tr>
											<th>계획 사업</th>
											<th>달성</th>
											<th>업무 계획</th>
										</tr>
										<tr>
											<td><input type="text" name="planTask1" /></td>
											<td><input type="text" name="planAchievement1" /></td>
											<td><input type="text" name="planDetail1" /></td>
										</tr>
										<tr>
											<td><input type="text" name="planTask2" /></td>
											<td><input type="text" name="planAchievement2" /></td>
											<td><input type="text" name="planDetail2" /></td>
										</tr>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>