<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>일반기안서 양식</title>

</head>
<body>
				<div class="card">
					<div class="card-header">
						<div class="card-title">일반기안서 양식</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="text-center">
								<form action="/submitProposal" method="post">
								<table class="table">
									<tr>
										 <th width="15%">신청서 번호</th>
										 <td width="10%"></td>
										 <th width="15%">결재선 지정</th>
										 <td width="60%"><span id="apprLineSel"></span></td>	
 									</tr>
									</table>
									<h2 style="text-align: center;">일반 기안서</h2>
									<table border="1"
										style="border-collapse: collapse; width: 100%; margin: 0 auto;">
										<tr>
											<th width="15%">제목</th>
											<td><input type="text" name="basicTitle" style="width: 100%" required></td>
										</tr>
										<tr>
											<th width="15%">내용</th>
											<td>
												<textarea name="basicContent" style="height: 500px; width: 100%;" required></textarea>
											</td>
										</tr>
										</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>