<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.schedule.mapper.LeaveMapper">

	<!-- 휴가 전체 조회 -->
	<select id="listLeave" resultType="map">
		SELECT leave_no AS "leaveNo"
		       , id AS "id"
		       , TO_CHAR(leave_start_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "start"
		       , TO_CHAR(leave_end_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "end"
		       , id || ': ' || leave_type AS "title"
		       , leave_reason AS "content" 
		       , color AS "color" 
		FROM leave
	</select>
	
	<!-- 휴가 전체 조회 -->
	<select id="getLeaveListAll" resultType="map">
		SELECT leave_no AS "leaveNo"
		       , id AS "id"
		       , TO_CHAR(leave_start_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "start"
		       , TO_CHAR(leave_end_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "end"
		       , id || ': ' || leave_type AS "title"
		       , leave_reason AS "content" 
		       , color AS "color" 
		FROM leave
	</select>
	
	<!-- 휴가 부서별 조회 -->
	<select id="leaveListAllWhereDepartmentNo" resultType="map" parameterType="int">
		SELECT l.leave_no AS "leaveNo"
		       , l.id AS "id"
		       , TO_CHAR(l.leave_start_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "start"
		       , TO_CHAR(l.leave_end_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "end"
		       , l.id || ': ' || leave_type AS "title"
		       , l.leave_reason AS "content" 
		       , l.color AS "color" 
               , e.department_no
		FROM   leave l JOIN employees e
        ON     l.id = e.id
		<where>
		<if test="departmentNo != null and departmentNo != ''">
		e.department_no = #{departmentNo}
		</if>
		</where>
	</select>
	
	<!-- 개인 휴가 조회 -->
	<select id="leaveListWhereId" resultType="map" parameterType="String">
		SELECT leave_no AS "leaveNo"
		       , id AS "id"
		       , TO_CHAR(leave_start_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "start"
		       , TO_CHAR(leave_end_dt + 9/24, 'yyyy-MM-dd HH24MISS') AS "end"
		       , id || ': ' || leave_type AS "title"
		       , leave_reason AS "content"
		       , color AS "color" 
		FROM leave
		<where>
		<if test="departmentNo != null and departmentNo != ''">
		id = #{id}
		</if>
		</where>
	</select>
	
	<!-- 휴가 수정하기 -->
	<update id="leaveUpdate" parameterType="LeaveVO">
		UPDATE  leave
		SET		
				<if test="title != null and !title.equals('')">
				leave_type = #{title}
				</if>
				, leave_start_dt = TO_DATE(#{start}, 'YYYY-MM-DD"T"HH24:MI')
            	, leave_end_dt = TO_DATE(#{end}, 'YYYY-MM-DD"T"HH24:MI')
				<if test="content != null">
				, leave_reason = #{content}
				</if>
				<if test="color != null">
				, color = #{color}
				</if>
		WHERE	leave_no = #{leaveNo}
				
	
	</update>
	
	<!-- 휴가 개인별 조회 -->
	<select id="selectLeave" resultType="map" parameterType="string">
		SELECT leave_no AS "leaveNo"
		       , id AS "id"
		       , leave_start_dt AS "start"
		       , leave_end_dt AS "end"
		       , id || ': ' || leave_type AS "title"
		       , leave_reason AS "content" 
		FROM leave
		WHERE id = #{id} 
	</select>
	
	<!-- 휴가 추가 -->
	<insert id="insertLeave" parameterType="LeaveVO">
		<selectKey keyProperty="leaveNo"
		           resultType="Integer"
		           order="BEFORE">
			SELECT NVL(MAX(leave_no), 0) + 1
			FROM leave           
		</selectKey>
		INSERT INTO leave(
						  leave_no
						  , id
						  , leave_start_dt
						  , leave_end_dt
						  , leave_days
						  , leave_reason
						  , leave_type
						  )
		VALUES (				
				#{leaveNo}
				, #{id}
				, TO_DATE(#{leaveStartDt}, 'YYYY-MM-DD"T"HH24:MI')
				, TO_DATE(#{leaveEndDt}, 'YYYY-MM-DD"T"HH24:MI')
				, #{leaveDays}
				, #{leaveReason}
				, #{leaveType}
				)
	</insert>
	
	<!-- 휴가 삭제 -->
	<delete id="deleteLeave" parameterType="int">
		DELETE FROM leave
		WHERE leave_no = #{leaveNo}
	</delete>

</mapper>