<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.contractor.app.schedule.mapper.LeaveMapper">

	<!-- 휴가 전체 조회 -->
	<select id="listLeave" resultType="map">
		SELECT leave_no AS "leaveNo"
		       , id AS "id"
		       , leave_start_dt AS "start"
		       , leave_end_dt AS "end"
		       , id || ': ' || leave_type AS "title"
		       , leave_reason AS "content" 
		FROM leave
	</select>
	
	<!-- 휴가 전체 조회 -->
	<select id="getLeaveListAll" resultType="LeaveVO">
		SELECT leave_no 
		       , id
		       , leave_start_dt 
		       , leave_end_dt 
		       , leave_type 
		       , leave_reason
		FROM leave
	</select>
	
	<!-- 휴가 개인별 조회 -->
	<select id="selectLeave" resultType="map" parameterType="string">
		SELECT leave_no AS "leaveNo"
		       , id AS "id"
		       , leave_start_dt AS "start"
		       , leave_end_dt AS "end"
		       , id || ': ' || leave_type AS "title"
		       , leave_reason AS "content" 
		FROM leave
		WHERE id = #{id} 
	</select>
	
	<!-- 휴가 추가 -->
	<insert id="insertLeave" parameterType="LeaveVO">
		<selectKey keyProperty="leaveNo"
		           resultType="Integer"
		           order="BEFORE">
			SELECT NVL(MAX(leave_no), 0) + 1
			FROM leave           
		</selectKey>
		INSERT INTO leave(
						  leave_no
						  , id
						  , leave_start_dt
						  , leave_end_dt
						  , leave_days
						  , leave_reason
						  , leave_type
						  )
		VALUES (				
				#{leaveNo}
				, #{id}
				, TO_DATE(#{leaveStartDt}, 'YYYY-MM-DD"T"HH24:MI')
				, TO_DATE(#{leaveEndDt}, 'YYYY-MM-DD"T"HH24:MI')
				, #{leaveDays}
				, #{leaveReason}
				, #{leaveType}
				)
	</insert>
	
	<!-- 휴가 삭제 -->
	<delete id="deleteLeave" parameterType="int">
		DELETE FROM leave
		WHERE leave_no = #{leaveNo}
	</delete>

</mapper>